@import "~styles/common/font_styles.scss";
@import "~styles/common/normalize.scss";
@import "~styles/common/variables.scss";

body{
  color: #000000;
  font-family: Onest-Regular;
}
h1,h2,h3{
  font-family: Furore;
}

.container {
  max-width: 1710px;
  width: 100%;
  margin: 0 auto;
}

.btn{
  cursor: pointer;
  transition: 0.3s all ease;
  padding: 20px 50px;
}

.btn:hover{
  box-shadow: $shadow;
  transform: translateY(-2px);
  transition: 0.3s all ease;
}

.btn:active{
  transform: scale(0.97);
}

.btn--square-blue{
  background-color: $blue-color;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000;
}

.btn--square-white{
  background-color: $light-color;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000;
}

.btn--rounded-blue{
  background-color: $blue-color;
  color: #000000;
  border-radius: 30px;
  border: 1px solid #000;
}

.btn--rounded-white{
  background-color: $light-color;
  color: #000000;
  border-radius: 30px;
  border: 1px solid #000;
}

