@import "~styles/common/variables.scss";
.advantages{
  background-color: $light-color;
  padding: 75px 0;
  i{
    font-size: 40px;
    color: $blue-color;
    margin-bottom: 15px;
  }
  &-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
  }
  &-list__item{
    width: calc(25% - 50px);
    padding: 25px 25px 40px;
    background-color: $light-color;
    border: 1px solid #ececec;
    border-radius: 10px;
    &:hover{
      box-shadow: $shadow;
    }
  }
  &-item__top{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &-item__number{
    font-size: 40px;
    font-family: Furore, sans-serif;
    color: $blue-color;
    margin-bottom: 0;
  }
  &-item__bottom{
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
  }
}

