@import "~styles/common/variables.scss";

.article{
  padding: 0 0 75px;
  &__content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: 20px;
    line-height: 140%;
    position: relative;
    img{
      margin-bottom: 25px;
    }
    h2{
      margin-bottom: 25px;
    }
    p{
      margin-bottom: 25px;
    }
  }
  &__content-body{
    max-width: 97%;
    padding-right: 30px;
    border-right: 1px solid $gray-color;
  }
  &__tags-list{
    margin-bottom: 50px;
  }
  &__tags-item{
    font-size: 18px;
    line-height: 140%;
    transition: all .3s;
    margin-bottom: 5px;
    &:hover{
      color: $dark-gray;
      text-decoration: underline;
    }
  }
  &__interestings-title{
    margin-bottom: 40px;
    font-size: 24px;
  }
  &__interestings-list{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__interestings-link{
    width: 100%;
    p{margin-bottom: 0;}
    >p{
      margin-bottom: 30px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -15px;
        border-top: 1px solid $dark-gray;
      }
    }
  }
  &__interestings-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 25px 15px;
    background-color: $light-color;
    border-radius: 10px;
    transition: 0.3s all ease;
    &:hover{
      box-shadow: $shadow;
      transform: translateY(-5px);
      transition: 0.3s all ease;
    }
  }
  &__interestings-image{
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-bottom: 15px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__info-inner{
    display: flex;
    justify-content: space-between;
  }
  &__button{
    display: block;
    margin: 30px auto;
    max-width: 50%;
    padding: 10px 25px;
    text-align: center;
    border: 1px solid $gray-comment;
    &:hover{
      border-color: $gray;
    }
  }
}