@import "~styles/common/variables.scss";

.catalog{
  padding: 0 0 50px;
  &__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__left{
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }
  &__list-categories{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
    border: 1px solid #ececec;
  }
  &__item-category{
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    padding: 6px 12px;
    height: 110px;
    width: calc((100% - 85px)/4);
    border-radius: 10px;
    background-position: right 180% !important;
    transition: background-position .3s;
    &:hover{
      transition: background-position .3s;
      background-position: right 150% !important;
      box-shadow: $shadow;
    }
  }
  &__item-link{
    display: block;
    height: 100%;
    width: 100%;
  }

  &__list-brands{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0 20px;
    gap: 5px;
    font-size: 14px;
  }
  &__item-brand:last-child{
    text-decoration: underline;
  }
  &__item-brand:hover a{
      color: $gray;
  }
}