@import "~styles/common/variables.scss";

.contacts{
  padding: 0 0 50px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 90px;
  }
  &__inner-left{
    max-width: 30%;
  }
  &__inner-right{
    max-width: 70%;
  }
  &__inner-left,
  &__inner-right{
    width: 100%;
  }
  &__item-top,
  &__item-bottom{
    box-shadow: $shadow;
    background-color: $light-color;
    border-radius: 20px;
    padding: 20px 40px;
  }
  &__item-top{
    margin-bottom: 40px;
  }
  &__socials{
    display: flex;
    gap: 30px;
  }
  &__social{
    display: inline-block;
  }
  &__social:hover{
    color: #000000;
  }
  &__wa:hover svg{
    path:first-child{
      fill: $blue-color;
    }
  }
  &__tg:hover svg{
    path:first-child{
      fill: $blue-color;
    }
  }
  &__label,
  &__value{
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 15px;
  }
  &__value{
    display: inline-block;
    font-family: Inter-Medium, sans-serif;
    margin-bottom: 25px;
  }
}
#map{
  width: 100%;
  height: 777px;
  border-radius: 20px;
  & iframe{
    border-radius: 20px;
  }
}

ymaps{
  border-radius: 20px !important;
}