@import "~styles/common/variables.scss";

.cta{
  padding: 75px 0;
  .container{
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
  }
  &-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 865px;
    background-color: #00000061;
    border-radius: 20px;
    }
  &__title{
    font-size: 55px;
    max-width: 800px;
    line-height: 180%;
    color: $light-color;
  }
}