@import "~styles/common/variables.scss";
.faq {
  padding: 75px 0;
  &__questions {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__item {
    max-width: calc(50% - 10px);
    width: 100%;
    &:last-child {
      border-bottom: none;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    cursor: pointer;
    background-color: $light-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    p {
      margin: 0;
      font-size: 24px;
    }
    &.active {
      background-color: #e0e0e0;
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    p {
      margin-top: 15px;
      padding-bottom: 24px;
      line-height: 140%;
      font-size: 20px;
    }
  }
  &__item--active {
    .faq__icon {
      transform: rotate(-180deg);
    }
    .faq__content {
      background-color: #ffffff;
      padding: 0 15px;
      transition: 0.3s all ease;
    }
  }
}

