/*
@font-face {
    font-family: 'HelveticaNeue';
    src:
            url('../../fonts/HelveticaNeue-Roman.woff2') format('woff2'),
            url('../../fonts/HelveticaNeue-Roman.woff') format('woff'),
            url('../../fonts/HelveticaNeue-Roman.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../../fonts/HelveticaNeueMedium.woff2') format('woff2'),
    url('../../fonts/HelveticaNeueMedium.woff') format('woff'),
    url('../../fonts/HelveticaNeueMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../../fonts/HelveticaNeue-Black.woff2') format('woff2'),
    url('../../fonts/HelveticaNeue-Black.woff') format('woff'),
    url('../../fonts/HelveticaNeue-Black.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../../fonts/HelveticaNeue-Black.woff2') format('woff2'),
    url('../../fonts/HelveticaNeue-Black.woff') format('woff'),
    url('../../fonts/HelveticaNeue-Black.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TT_Livret_Display_Tri';
    src: url('../../fonts/TT_Livret_Display_Trial_Regular.woff2') format('woff2'),
    url('../../fonts/TT_Livret_Display_Trial_Regular.woff') format('woff'),
    url('../../fonts/TT_Livret_Display_Trial_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT_Livret_Display_Tri';
    src: url('../../fonts/TT_Livret_Display_Trial_Medium.woff2') format('woff2'),
    url('../../fonts/TT_Livret_Display_Trial_Medium.woff') format('woff'),
    url('../../fonts/TT_Livret_Display_Trial_Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT_Livret_Display_Tri';
    src: url('../../fonts/TT_Livret_Display_Trial_DemiBold.woff2') format('woff2'),
    url('../../fonts/TT_Livret_Display_Trial_DemiBold.woff') format('woff'),
    url('../../fonts/TT_Livret_Display_Trial_DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT_Livret_Display_Tri';
    src: url('../../fonts/TT_Livret_Display_Trial_Bold.woff2') format('woff2'),
    url('../../fonts/TT_Livret_Display_Trial_Bold.woff') format('woff'),
    url('../../fonts/TT_Livret_Display_Trial_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


*/
