.gallery{
  padding: 75px 0;
  &__inner-top{
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__btn{
    border: 1px solid #898989;
    &:hover{
      border-color: #393838;
    }
  }

  .parent {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    div {
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 30px;
      }
    }
  }

  .div1 { grid-area: 1 / 1 / 4 / 3; }
  .div2 { grid-area: 1 / 3 / 4 / 6; }
  .div3 { grid-area: 4 / 1 / 6 / 4; }
  .div4 { grid-area: 4 / 4 / 6 / 6; }
}