@import "~styles/common/variables.scss";
.modalMenu {
  &-header {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(64, 64, 64, 0.03),
    0px 2px 7px 0px rgba(113, 113, 113, 0.06);
    border: none;
  }

  &-years {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    flex-shrink: 0;
  }

  &-body {
    padding: 32px 16px 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 36px;

    &--catalog {
      padding: 20px 16px 8px;
      gap: 0;
    }

    &--search {
      padding: 16px 12px;
      gap: 22px;
    }
  }

  &-back {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    position: relative;

    color: var(--gray-75);
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
  }

  &-back-icon {
    width: 18px !important;
    height: 18px !important;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &-top {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 16px;
  }

  &-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 0;
  }

  &-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 12px 0;
    margin-bottom: 10px;

    & + .modalMenu-button {
      border-top: 1px solid $gray-comment;
    }
  }

  &-button-name {
    display: flex;
    flex: 1;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &--short {
      flex: 0;
    }
  }

  &-button-action {
    color: var(--gray-a1);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &-socials {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 12px;
  }

  &-socials-title {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
  }

  &-socials-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  &-social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 14px;
    border: 1px solid $gray-comment;
    background: var(--bs-white);
    padding: 12px 10px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 36px;
    margin: 32px 0 18px;
  }

  &-form-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 8px;
  }

  &-form-name {
    color: #2e2e2e;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
  }

  &-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    flex-wrap: wrap;
  }

  &-filter {
    display: flex;
    flex-shrink: 0;
    padding: 8px 12px;
    border-radius: 12px;
    border: 1px solid $gray-comment;
    background: var(--bs-white);
    color: var(--gray-75);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 300ms;

    & input {
      display: none;
    }

    &:has(input:checked) {
      background: var(--bs-black);
      color: var(--bs-white);
    }
  }

  &-cities {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 12px;
  }

  &-city {
    padding: 12px 0;
    border-radius: 14px;
    background: var(--bs-white);
    color: var(--gray-a1);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 300ms;

    &:hover {
      color: var(--bs-black);
      background-color: var(--gray-f7);
    }

    &.active {
      color: var(--bs-black);
    }
  }

  &-footer {
    padding: 17px 16px 12px;
    box-shadow: 0px -4px 40px 1px rgba(0, 0, 0, 0.1);
    border: none;
  }
}

.modalMenu-top .js-login-form{
  border: 1px solid $gray-comment;
  border-radius: 14px;
  margin: 10px 0;
}

.modal-fullscreen .modal-body{
  overflow-y: auto;
}

.nav {
  flex-wrap: nowrap;
  border-bottom: 1px solid $gray-comment;
  padding-bottom: 10px;
  margin-bottom: 10px;

  &-item{
    width: 100%;
    text-align: start;
  }

  &-link {
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-shrink: 0;
    gap: 6px;
    color: $dark-gray;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;

  }
}

@media (max-width: 1280px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;

    &-link {
      padding: 12px 16px 12px 0;
    }
  }

}



