/*
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.modal.show {
  display: block;
  opacity: 1;
}

body.no-scroll {
  overflow: hidden;
}

.modal-content {
  background-color: #262626;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #6F6F6F;
  max-width: 600px;
  overflow: hidden;
  width: 100%;
  opacity: 0;
  border-radius: 20px;
  transform: translateY(-50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.modal-content.show {
  opacity: 1;
  transform: translateY(0);
}

.modal-header {
  border: none;
  text-align: end;
  padding: 0 0 12px;
}

.modal-header .modal-close {
  background: transparent;
  border: none;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.005em;
  color: #6F6F6F;
  padding: 8px 0;
  cursor: pointer;
}

.modal-header .modal-close:hover {
  color: #fff;
}

.modal-body {
  padding: 0 20px 40px;
}

.content-modal .modal-heading {
  font-size: 28px;
  margin-bottom: 12px;
}

.content-modal > p {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 30px;
}

.content-modal .form-group {
  margin-bottom: 20px;
}

.content-modal .form-group > span {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  padding-left: 8px;
  margin-bottom: 6px;
}

.content-modal .form-group input {
  width: 100%;
  padding: 10px 8px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #6F6F6F;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

.content-modal .form-btn {
  margin-top: 10px;
}

.content-modal .form-btn button.disabled,
.content-modal .form-btn button:disabled,
.content-modal .form-btn button {
  width: 100%;
  height: 53px;
  background: #6F6F6F;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.005em;
  text-align: center;
  color: #BEBEBE;
  border: none;
}

.content-modal .form-btn button.enable {
  background: #F96C1E;
  color: #fff;
}

.content-modal .form-btn button:hover {
  color: #fff;
}

.content-modal .form-agree {
  text-align: center;
  margin-top: 30px;
}

.content-modal .form-agree p {
  font-size: 12px;
  line-height: 19px;
  color: #6F6F6F;
}

.content-modal .form-agree p a {
  color: #6F6F6F;
  text-decoration: underline;
}

.content-modal .form-agree p a:hover {
  text-decoration: none;
}

*/
