.product{
  padding: 75px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    //align-items: start;
    gap: 30px;
  }
  &__slider-inner{
    display: flex;
  }
  &__info{
    max-width: 50%;
  }
  &__stats{
    margin-bottom: 50px;
    font-family: Onest-Regular, sans-serif;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    color: #000000;
  }
  &__state{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    span:first-child{
      max-width: 600px;
      flex-shrink: 0;
    }
    span:last-child{
      max-width: 300px;
      flex-shrink: 0;
      align-self: center;
    }
    .dashed{
      width: 100%;
      border-bottom: 1px dashed #000000;
    }
  }
  &__buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    button{
      padding: 20px 30px;
    }
    .btn--square-white{
      width: calc(50% - 25px);
    }
    .btn--square-blue{
      width: 100%;
    }
  }
  &__description{
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
.div1, .div2, .div3, .div4 {
  display: inline-block;
}
.div1{
  max-width: 100%;
  width: 100%;
  max-height: 700px;
  height: 100%;
}
.div2, .div3, .div4{
  max-width: 265px;
  width: 100%;
}

.div1 { grid-area: 1 / 1 / 4 / 4; }
.div2 { grid-area: 4 / 1 / 5 / 2; }
.div3 { grid-area: 4 / 2 / 5 / 3; }
.div4 { grid-area: 4 / 3 / 5 / 4; }

.gallery a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}