@import "~styles/common/variables.scss";

.seo-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 50px 0;
}

.seo-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.seo-description {
  color: #1C1C1C;
  font-size: 18px;
  line-height: 140%;
}

.seo-block.full .seo-description {
  white-space: normal;
}

.seo-block.full .seo-button.show {
  display: none;
}

.seo-block.full .seo-button.hide {
  display: block;
}

.seo-block:not(.full) .seo-button.show {
  display: inline;
  margin-left: 8px;
}

.seo-block:not(.full) .seo-button.hide {
  display: none;
}

.seo-button {
  background: none;
  margin-top: 10px;
  border: none;
  color: #1C1C1C;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  line-height: 140%;
  text-transform: uppercase;
  border-bottom: 1px solid $gray-color;
}

@media (hover: hover) {
  .seo-button:hover {
    color: $blue-color;
    border-bottom: 1px solid $blue-color;
  }
}

.seo-button:active {
  color: $blue-color;
}

.seo-block.full .seo-button.hide {
  margin-top: 8px;
}