$blue-color: #b4d0df;
$light-color: #ffffff;
$gray-color: #a5aaac;
$gray-comment: #898989;
$gray: #393838;
$dark-gray: #1c1c1c;

$img-path: '../../images/';

//$shadow: 0 0 50px rgba(0, 0, 0, 0.2);
$shadow: 0px 2px 4px 0px rgba(63, 63, 63, 0.04), 0px 8px 16px 0px rgba(111, 111, 111, 0.16);
$shadow-2: 0px 2px 4px 0px rgba(63, 63, 63, 0.04), 0px 8px 16px 0px rgba(111, 111, 111, 0.16);