<!DOCTYPE html>
<html lang="ru">
{{> head }}
<body>
{{> header }}
<div class="container">
    <nav class="breadcrumbs" aria-label="breadcrumb">
        <ul class="breadcrumbs-list">
            <li class="crumb home">
                <a href="index.html">
                    <span>Главная</span>
                </a>
            </li>
            <li class="crumb">
                <a href="blog.html">
                    <span>Блог</span>
                </a>
            </li>
            <li class="crumb last ">
                <span>Как покрасить бампер самостоятельно</span>
            </li>
        </ul>
    </nav>
</div>
<main class="main">
{{> article-section }}
</main>
{{> footer }}
</body>
</html>