<!DOCTYPE html>
<html lang="ru">
{{> head }}
<body>
{{> header }}
<div class="container">
    <nav class="breadcrumbs" aria-label="breadcrumb">
        <ul class="breadcrumbs-list">
            <li class="crumb home">
                <a href="index.html">
                    <span>Главная</span>
                </a>
            </li>
            <li class="crumb last ">
                <span>Каталог</span>
            </li>
        </ul>
    </nav>
</div>
<header class="container">
    <h1 class="title catalog__title">Каталог товаров</h1>
</header>

{{> catalog-section }}

{{> seo-section }}
{{> footer }}
{{> modals }}
{{> scripts }}
</body>
</html>
