<!DOCTYPE html>
<html lang="ru">
{{> head }}
<body>
{{> header }}
<div class="container">
    <nav class="breadcrumbs" aria-label="breadcrumb">
        <ul class="breadcrumbs-list">
            <li class="crumb home">
                <a href="index.html">
                    <span>Главная</span>
                </a>
            </li>
            <li class="crumb">
                <a href="catalog.html">
                    <span>Каталог</span>
                </a>
            </li>
            <li class="crumb last ">
                <span>Бамперы передние</span>
            </li>
        </ul>
    </nav>
</div>
<header class="container">
    <h1 class="title catalog__title">Бамперы передние</h1>
</header>
<div class="container catalog__container">
    <aside>
        <button class="filters__toggle" aria-expanded="false">
            <span>Фильтры</span>
            <img class="filters__toggle-icon" src="assets/images/svg/filters.svg" alt="Развернуть фильтры">
        </button>
        <ul class="filters">
            <li class="filters__item" data-accordion-item>
                <div class="filters__title" data-accordion-button>
                    <span>Страна производства</span>
                    <img class="filters__title-icon" src="assets/images/svg/arrow-down.svg" alt="Пункт фильтра">
                </div>
                <ul class="filters__list" data-accordion-content>
                    <li class="filters__option"><input type="checkbox" id="country1"> <label for="country1">Россия</label></li>
                    <li class="filters__option"><input type="checkbox" id="country2"> <label for="country2">Германия</label></li>
                </ul>
            </li>
            <li class="filters__item" data-accordion-item>
                <div class="filters__title" data-accordion-button>
                    <span>Тип запчасти</span>
                    <img class="filters__title-icon" src="assets/images/svg/arrow-down.svg" alt="Пункт фильтра">
                </div>
                <ul class="filters__list" data-accordion-content>
                    <li class="filters__option"><input type="checkbox" id="part1"> <label for="part1">Двигатель</label></li>
                    <li class="filters__option"><input type="checkbox" id="part2"> <label for="part2">Трансмиссия</label></li>
                </ul>
            </li>
            <li class="filters__item" data-accordion-item>
                <div class="filters__title" data-accordion-button>
                    <span>Тип кузова</span>
                    <img class="filters__title-icon" src="assets/images/svg/arrow-down.svg" alt="Пункт фильтра">
                </div>
                <ul class="filters__list" data-accordion-content>
                    <li class="filters__option"><input type="checkbox" id="body1"> <label for="body1">Седан</label></li>
                    <li class="filters__option"><input type="checkbox" id="body2"> <label for="body2">Хэтчбек</label></li>
                </ul>
            </li>
            <li class="filters__item" data-accordion-item>
                <div class="filters__title" data-accordion-button>
                    <span>Мощность</span>
                    <img class="filters__title-icon" src="assets/images/svg/arrow-down.svg" alt="Пункт фильтра">
                </div>
                <ul class="filters__list" data-accordion-content>
                    <li class="filters__option"><input type="checkbox" id="power1"> <label for="power1">100 л.с.</label></li>
                    <li class="filters__option"><input type="checkbox" id="power2"> <label for="power2">200 л.с.</label></li>
                </ul>
            </li>
            <li class="filters__item" data-accordion-item>
                <div class="filters__title" data-accordion-button>
                    <span>Модификация</span>
                    <img class="filters__title-icon" src="assets/images/svg/arrow-down.svg" alt="Пункт фильтра">
                </div>
                <ul class="filters__list" data-accordion-content>
                    <li class="filters__option"><input type="checkbox" id="mod1"> <label for="mod1">Базовая</label></li>
                    <li class="filters__option"><input type="checkbox" id="mod2"> <label for="mod2">Премиум</label></li>
                </ul>
            </li>
            <li class="filters__item" data-accordion-item>
                <div class="filters__title" data-accordion-button>
                    <span>Тип двигателя</span>
                    <img class="filters__title-icon" src="assets/images/svg/arrow-down.svg" alt="Пункт фильтра">
                </div>
                <ul class="filters__list" data-accordion-content>
                    <li class="filters__option"><input type="checkbox" id="engine1"> <label for="engine1">Бензиновый</label></li>
                    <li class="filters__option"><input type="checkbox" id="engine2"> <label for="engine2">Дизельный</label></li>
                </ul>
            </li>
            <li class="filters__item" data-accordion-item>
                <div class="filters__title" data-accordion-button>
                    <span>Тип топлива</span>
                    <img class="filters__title-icon" src="assets/images/svg/arrow-down.svg" alt="Пункт фильтра">
                </div>
                <ul class="filters__list" data-accordion-content>
                    <li class="filters__option"><input type="checkbox" id="fuel1"> <label for="fuel1">Бензин</label></li>
                    <li class="filters__option"><input type="checkbox" id="fuel2"> <label for="fuel2">Дизель</label></li>
                </ul>
            </li>
            <li class="filters__item" data-accordion-item>
                <div class="filters__title" data-accordion-button>
                    <span>Код двигателя</span>
                    <img class="filters__title-icon" src="assets/images/svg/arrow-down.svg" alt="Пункт фильтра">
                </div>
                <ul class="filters__list" data-accordion-content>
                    <li class="filters__option"><input type="checkbox" id="code1"> <label for="code1">ABC123</label></li>
                    <li class="filters__option"><input type="checkbox" id="code2"> <label for="code2">DEF456</label></li>
                </ul>
            </li>
            <li class="filters__item" data-accordion-item>
                <div class="filters__title" data-accordion-button>
                    <span>Цвет</span>
                    <img class="filters__title-icon" src="assets/images/svg/arrow-down.svg" alt="Пункт фильтра">
                </div>
                <ul class="filters__list" data-accordion-content>
                    <li class="filters__option"><input type="checkbox" id="color1"> <label for="color1">Красный</label></li>
                    <li class="filters__option"><input type="checkbox" id="color2"> <label for="color2">Синий</label></li>
                </ul>
            </li>
        </ul>
    </aside>
    <main class="main">
        {{> goods-block }}
    </main>
</div>
    <div class="container">
        {{> seo-section }}
    </div>
{{> footer }}
{{> modals }}
{{> scripts }}
</body>
</html>
