<!DOCTYPE html>
<html lang="ru">
  {{> head }}
  <body>
    {{> header }}
    <main class="main">
        {{> promo-section }}
        {{> advantages-section }}
        {{> goods-section }}
        {{> goods-section }}
        {{> cta-section }}
        {{> brands-section }}
        {{> form-section }}
        {{> working-stages-section }}
        {{> reviews-section }}
        {{> form-section }}
        {{> faq-section }}
        {{> seo-section }}
    </main>
    {{> footer }}
    {{> scripts }}
  </body>
</html>
