<!DOCTYPE html>
<html lang="ru">
{{> head }}
<body>
{{> header }}
<div class="container">
    <nav class="breadcrumbs" aria-label="breadcrumb">
        <ul class="breadcrumbs-list">
            <li class="crumb home">
                <a href="index.html">
                    <span>Главная</span>
                </a>
            </li>
            <li class="crumb last">
                    <span>Авторизация</span>
            </li>
        </ul>
    </nav>
</div>
<main class="main">
    {{> authorize-section }}
</main>
{{> footer }}
{{> modals }}
{{> scripts }}
</body>
</html>