<!DOCTYPE html>
<html lang="ru">
{{> head }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<body>
{{> header }}
<div class="container">
    <nav class="breadcrumbs" aria-label="breadcrumb">
        <ul class="breadcrumbs-list">
            <li class="crumb home">
                <a href="index.html">
                    <span>Главная</span>
                </a>
            </li>
            <li class="crumb">
                <a href="catalog.html">
                    <span>Каталог</span>
                </a>
            </li>
            <li class="crumb last ">
                <span>Бампер крашеный</span>
            </li>
        </ul>
    </nav>
</div>
<main class="main">
    {{> product-section }}
    {{> form-section }}
    {{> goods-section }}
    {{> goods-section }}
    {{> faq-section }}
    {{> seo-section }}
</main>
{{> footer }}
{{> modals }}
{{> scripts }}

</body>
</html>
