<section class="advantages">
    <div class="container">
        <ul class="advantages-list">
            <li class="advantages-list__item">
                <div class="advantages-item__top">
                    <p class="advantages-item__number ">3105</p>
                    <i class="fas fa-shipping-fast"></i>
                </div>
                <p class="advantages-item__bottom">Окрашенных бамперов</p>
            </li>
            <li class="advantages-list__item">
                <div class="advantages-item__top">
                    <p class="advantages-item__number ">3105</p>
                    <i class="fas fa-cubes"></i>
                </div>
                <p class="advantages-item__bottom">Окрашенных бамперов</p>
            </li>
            <li class="advantages-list__item">
                <div class="advantages-item__top">
                    <p class="advantages-item__number ">3105</p>
                    <i class="fas fa-hand-holding-usd"></i>
                </div>
                <p class="advantages-item__bottom">Окрашенных бамперов</p>
            </li>
            <li class="advantages-list__item">
                <div class="advantages-item__top">
                    <p class="advantages-item__number ">3105</p>
                    <i class="fas fa-user-graduate"></i>
                </div>
                <p class="advantages-item__bottom">Окрашенных бамперов</p>
            </li>

        </ul>
    </div>
</section>