<section class="advantages">
    <div class="container">
        <ul class="advantages-list">
            <li class="advantages-list__item">
                <div class="advantages-item__top">
                    <p class="advantages-item__number ">3105</p>
                    <img src="assets/images/svg/advantages-icon1.svg" alt="advantage icon">
                </div>
                <p class="advantages-item__bottom">Окрашенных бамперов</p>
            </li>
            <li class="advantages-list__item">
                <div class="advantages-item__top">
                    <p class="advantages-item__number ">3105</p>
                    <img src="assets/images/svg/advantages-icon1.svg" alt="advantage icon">
                </div>
                <p class="advantages-item__bottom">Окрашенных бамперов</p>
            </li>
            <li class="advantages-list__item">
                <div class="advantages-item__top">
                    <p class="advantages-item__number ">3105</p>
                    <img src="assets/images/svg/advantages-icon1.svg" alt="advantage icon">
                </div>
                <p class="advantages-item__bottom">Окрашенных бамперов</p>
            </li>
            <li class="advantages-list__item">
                <div class="advantages-item__top">
                    <p class="advantages-item__number ">3105</p>
                    <img src="assets/images/svg/advantages-icon1.svg" alt="advantage icon">
                </div>
                <p class="advantages-item__bottom">Окрашенных бамперов</p>
            </li>

        </ul>
    </div>
</section>