<section class="authorize-section">
    <div class="container">
        <h1 class="title authorize__title">Авторизация</h1>
        <div class="col-md-6 bg-white p-3">
            <form action="" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="email" class="form-label required">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Ваш email" required>
                    <div class="invalid-feedback">Пожалуйста, введите корректный email</div>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label required">Пароль</label>
                    <input type="password" class="form-control" id="password" placeholder="Пароль доступа к кабинету"
                           required>
                    <div class="invalid-feedback">Пароль обязателен для регистрации</div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn--square-blue">Войти</button>
                </div>
                <div class="mb-3">
                    <a href="#" class="restore-pass-btn">Забыли пароль?</button>
                </div>
            </form>
        </div>
    </div>
</section>