<section class="articles">
    <div class="container">
        <h1 class="title articles__title">Блог</h1>
        <ul class="articles__wrapper">
            <li class="articles__item">
                <div class="articles__img">
                    <img src="assets/images/webp/bamper.webp" alt="превью статьи">
                </div>
                <div class="articles__info">
                    <h2 class="title articles__info-title">Комплектующие</h2>
                    <p class="articles__info-text">Много текста про марки машин Много текста про марки машин Много
                        текста про марки машинМного текста про марки машин Много текста про марки машин Много текста про
                        марки машин Много текста про марки машинМного текста про марки машин</p>
                    <div class="articles__info-inner">
                        <p class="articles__info-date">12.12.2020</p>
                        <a href="blog_page.html" class="btn btn--square-blue articles__info-link">Читать</a>
                    </div>
                </div>
            </li>
            <li class="articles__item">
                <div class="articles__img">
                    <img src="assets/images/webp/bamper.webp" alt="превью статьи">
                </div>
                <div class="articles__info">
                    <h2 class="title articles__info-title">Комплектующие</h2>
                    <p class="articles__info-text">Много текста про марки машин Много текста про марки машин Много
                        текста про марки машинМного текста про марки машин Много текста про марки машин Много текста про
                        марки машин Много текста про марки машинМного текста про марки машин</p>
                    <div class="articles__info-inner">
                        <p class="articles__info-date">12.12.2020</p>
                        <a href="blog_page.html" class="btn btn--square-blue articles__info-link">Читать</a>
                    </div>
                </div>
            </li>
            <li class="articles__item">
                <div class="articles__img">
                    <img src="assets/images/webp/bamper.webp" alt="превью статьи">
                </div>
                <div class="articles__info">
                    <h2 class="title articles__info-title">Комплектующие</h2>
                    <p class="articles__info-text">Много текста про марки машин Много текста про марки машин Много
                        текста про марки машинМного текста про марки машин Много текста про марки машин Много текста про
                        марки машин Много текста про марки машинМного текста про марки машин</p>
                    <div class="articles__info-inner">
                        <p class="articles__info-date">12.12.2020</p>
                        <a href="blog_page.html" class="btn btn--square-blue articles__info-link">Читать</a>
                    </div>
                </div>
            </li>
            <li class="articles__item">
                <div class="articles__img">
                    <img src="assets/images/webp/bamper.webp" alt="превью статьи">
                </div>
                <div class="articles__info">
                    <h2 class="title articles__info-title">Комплектующие</h2>
                    <p class="articles__info-text">Много текста про марки машин Много текста про марки машин Много
                        текста про марки машинМного текста про марки машин Много текста про марки машин Много текста про
                        марки машин Много текста про марки машинМного текста про марки машин</p>
                    <div class="articles__info-inner">
                        <p class="articles__info-date">12.12.2020</p>
                        <a href="blog_page.html" class="btn btn--square-blue articles__info-link">Читать</a>
                    </div>
                </div>
            </li>
        </ul>

        <div class="pagination__wrapper mse2_pagination mse2_pagination">
            <div class="project_content_footerblock_footer_pages"><a
                    href="?page=1"
                    class="project_content_footerblock_footer_pages_number">
    <span class="page-link">
        <svg width="24" height="24" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Icon">
                <path id="Icon_2" d="M20 24.146L12 16.146L20 8.146" stroke="#1C1C1C" stroke-width="2"
                      stroke-linecap="square" stroke-linejoin="round"></path>
            </g>
        </svg>
    </span>
            </a><a class="project_content_footerblock_footer_pages_number"
                   href="blog.html">1</a><a
                    class="project_content_footerblock_footer_pages_number active"
                    href="?page=2">2</a><a
                    class="project_content_footerblock_footer_pages_number">
                <span class="page-link">
        <svg width="24" height="24" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Icon">
                <path id="Icon_2" d="M9 18.573L15 12.573L9 6.573" stroke="#1C1C1C" stroke-width="2"
                      stroke-linecap="square" stroke-linejoin="round"></path>
            </g>
        </svg>
    </span>
            </a></div>
        </div>
    </div>
</section>