<section class="brands">
    <div class="container">
        <h2 class="title brands__title">Марки автомобилей</h2>
        <ul class="brands__list">
            <li class="brands__item">
                <a href="#" class="brands__link">
                    <img src="assets/images/svg/brand-1.svg" alt="brand">
                    <p class="brands__item-name">Citroen</p>
                </a>
            </li>
            <li class="brands__item">
                <a href="#" class="brands__link">
                    <img src="assets/images/svg/brand-2.svg" alt="brand">
                    <p class="brands__item-name">Fiat</p>
                </a>
            </li>
            <li class="brands__item">
                <a href="#" class="brands__link">
                    <img src="assets/images/svg/brand-3.svg" alt="brand">
                    <p class="brands__item-name">Bmw</p>
                </a>
            </li>
            <li class="brands__item">
                <a href="#" class="brands__link">
                    <img src="assets/images/svg/brand-4.svg" alt="brand">
                    <p class="brands__item-name">Audi</p>
                </a>
            </li>
            <li class="brands__item">
                <a href="#" class="brands__link">
                    <img src="assets/images/svg/brand-5.svg" alt="brand">
                    <p class="brands__item-name">Mercedes</p>
                </a>
            </li>
            <li class="brands__item">
                <a href="#" class="brands__link">
                    <img src="assets/images/svg/brand-6.svg" alt="brand">
                    <p class="brands__item-name">Bird</p>
                </a>
            </li>
            <li class="brands__item">
                <a href="#" class="brands__link">
                    <img src="assets/images/svg/brand-7.svg" alt="brand">
                    <p class="brands__item-name">Citroen</p>
                </a>
            </li>
            <li class="brands__item">
                <a href="#" class="brands__link">
                    <img src="assets/images/svg/brand-8.svg" alt="brand">
                    <p class="brands__item-name">Citroen</p>
                </a>
            </li>
            <li class="brands__item">
                <a href="#" class="brands__link">
                    <img src="assets/images/svg/brand-9.svg" alt="brand">
                    <p class="brands__item-name">Citroen</p>
                </a>
            </li>
            <li class="brands__item">
                <a href="#" class="brands__link">
                    <img src="assets/images/svg/brand-10.svg" alt="brand">
                    <p class="brands__item-name">Citroen</p>
                </a>
            </li>
            <li class="brands__item">
                <a href="#" class="brands__link">
                    <img src="assets/images/svg/brand-11.svg" alt="brand">
                    <p class="brands__item-name">Citroen</p>
                </a>
            </li>
            <a href="#" class="btn btn--square-blue brands__btn">Все бренды </a>
        </ul>
    </div>
</section>