<div class="container">
    <nav class="breadcrumbs" aria-label="breadcrumb">
        <ul class="breadcrumbs-list">
            <li class="crumb home">
                <a href="/">
                    <span>Главная</span>
                </a>
            </li>
            <li class="crumb last ">
                <span>Контакты</span>
            </li>
        </ul>
    </nav>
</div>