<section class="catalog">
    <div class="container catalog__container">
        <div class="catalog__left">
            <ul class="catalog__list-categories">
                <li class="catalog__item-category" style="background: url('assets/images/webp/cat-bamp.webp') no-repeat, #ececec">
                    <a href="category.html" class="catalog__item-link">
                        <p class="catalog__item-title">Запчасти для технического обслуживания</p>
                    </a>
                </li>
                <li class="catalog__item-category" style="background: url('assets/images/webp/cat-bamp.webp') no-repeat, #ececec">
                    <a href="category.html" class="catalog__item-link">
                        <p class="catalog__item-title">Запчасти для технического обслуживания</p>
                    </a>
                </li>
                <li class="catalog__item-category" style="background: url('assets/images/webp/cat-bamp.webp') no-repeat, #ececec">
                    <a href="category.html" class="catalog__item-link">
                        <p class="catalog__item-title">Запчасти для технического обслуживания</p>
                    </a>
                </li>
                <li class="catalog__item-category" style="background: url('assets/images/webp/cat-bamp.webp') no-repeat, #ececec">
                    <a href="category.html" class="catalog__item-link">
                        <p class="catalog__item-title">Запчасти для технического обслуживания</p>
                    </a>
                </li>
                <li class="catalog__item-category" style="background: url('assets/images/webp/cat-bamp.webp') no-repeat, #ececec">
                    <a href="category.html" class="catalog__item-link">
                        <p class="catalog__item-title">Запчасти для технического обслуживания</p>
                    </a>
                </li>
                <li class="catalog__item-category" style="background: url('assets/images/webp/cat-bamp.webp') no-repeat, #ececec">
                    <a href="category.html" class="catalog__item-link">
                        <p class="catalog__item-title">Запчасти для технического обслуживания</p>
                    </a>
                </li>
                <li class="catalog__item-category" style="background: url('assets/images/webp/cat-bamp.webp') no-repeat, #ececec">
                    <a href="category.html" class="catalog__item-link">
                        <p class="catalog__item-title">Запчасти для технического обслуживания</p>
                    </a>
                </li>
                <li class="catalog__item-category" style="background: url('assets/images/webp/cat-bamp.webp') no-repeat, #ececec">
                    <a href="category.html" class="catalog__item-link">
                        <p class="catalog__item-title">Запчасти для технического обслуживания</p>
                    </a>
                </li>
                <li class="catalog__item-category" style="background: url('assets/images/webp/cat-bamp.webp') no-repeat, #ececec">
                    <a href="category.html" class="catalog__item-link">
                        <p class="catalog__item-title">Запчасти для технического обслуживания</p>
                    </a>
                </li>
                <li class="catalog__item-category" style="background: url('assets/images/webp/cat-bamp.webp') no-repeat, #ececec">
                    <a href="category.html" class="catalog__item-link">
                        <p class="catalog__item-title">Запчасти для технического обслуживания</p>
                    </a>
                </li>
                <li class="catalog__item-category" style="background: url('assets/images/webp/cat-bamp.webp') no-repeat, #ececec">
                    <a href="category.html" class="catalog__item-link">
                        <p class="catalog__item-title">Запчасти для технического обслуживания</p>
                    </a>
                </li>
                <li class="catalog__item-category" style="background: url('assets/images/webp/cat-bamp.webp') no-repeat, #ececec">
                    <a href="category.html" class="catalog__item-link">
                        <p class="catalog__item-title">Запчасти для технического обслуживания</p>
                    </a>
                </li>
            </ul>

            <ul class="catalog__list-brands">
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Audi</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">BMW</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Chevrolet</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Citroen</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Daewoo</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Ford</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Honda</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Hyundai</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Infiniti</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Kia</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Lada</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Land Rover</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Lexus</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Mazda</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Mercedes-Benz</a>
                </li>
                 <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Mitsubishi</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Nissan</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Opel</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Peugeot</a>
                </li>
                <li class="catalog__item-brand">
                    <a href="#" class="catalog__item-link">Renault</a>
                </li>
                <li class="catalog__item-brand last">
                    <a href="#" class="catalog__item-link">Все марки</a>
                </li>
            </ul>
        </div>
        <div class="catalog__right"></div>
    </div>
</section>