<section class="checkout-section">
<div class="container">
    <form action="" class="needs-validation" novalidate>
        <div class="row">
            <div class="col-lg-8 mb-3">
                <div class="cart-content p-3 h-100 bg-white">
                    <h1 class="section-title h2 mb-4">Платёжные данные</h1>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="name" class="form-label">Ваше имя</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Алексей" aria-label="Name" required>
                        </div>

                        <div class="col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" class="form-control" placeholder="primer@yandex.ru" aria-label="Email" required>
                        </div>

                        <div class="col-md-6">
                            <label for="phone" class="form-label">Номер телефона</label>
                            <input type="tel" id="phone" class="form-control" placeholder="+7 (123) 456-78-90" aria-label="First name" required>
                        </div>

                        <div class="col-md-6">
                            <label for="country" class="form-label">Страна</label>
                            <select id="country" name="country" class="form-select" aria-label="Default select example">

                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="city" class="form-label">Ваш город</label>
                            <input type="text" id="city" name="city" class="form-control" placeholder="Челябинск" aria-label="City" required>
                        </div>

                        <div class="col-md-6">
                            <label for="address" class="form-label">Ваш адрес</label>
                            <input type="text" id="address" name="address" class="form-control" placeholder="ул. Ленина, 15а" aria-label="City" required>
                        </div>

                        <div class="col">
                            <label for="comment" class="form-label">Комментарий к заказу</label>
                            <textarea class="form-control" name="comment" id="comment" rows="3" placeholder="Комментарий к заказу..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="cart-summary p-3 sidebar h-100 bg-white">
                    <p class="section-title h2">Сумма заказа:</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Товар</th>
                                <th class="text-end">Стоимость</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    Product 1 Lorem ipsum dolor sit amet, consectetur adipisicing.
                                    <small>($65) x 1</small>
                                </td>
                                <td class="text-end">$65</td>
                            </tr>
                            <tr>
                                <td>
                                    Product 2
                                    <small>($80) x 2</small>
                                </td>
                                <td class="text-end">$160</td>
                            </tr>
                            <tr>
                                <td>
                                    Product 3
                                    <small>($100) x 1</small>
                                </td>
                                <td class="text-end">$100</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="2" class="text-end">$325</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="form-check">
                        <input required class="form-check-input" value="payment-method1" name="payment-method" type="radio" name="payment-method1" id="payment-method1">
                        <label class="form-check-label" for="payment-method1">
                            Оплата картой при получении
                        </label>
                    </div>
                    <div class="form-check">
                        <input required class="form-check-input" value="payment-method2" name="payment-method" type="radio" name="payment-method2" id="payment-method2">
                        <label class="form-check-label" for="payment-method2">
                            Оплата по СБП
                        </label>
                    </div>


                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-warning">Заказать</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</section>