<section class="company">
    <div class="container">
        <h1 class="title company__title">О компании</h1>
        <div class="company__content">
        <p class="company__text">Мы в компании Бампер-ЕКБ очень дорожим качеством нашей продукции и репутацией, которую мы заработали за годы работы.
            Мы в компании Бампер-ЕКБ очень дорожим качеством нашей продукции и репутацией, которую мы заработали за годы работы.
            Мы в компании Бампер-ЕКБ очень дорожим качеством нашей продукции и репутацией, которую мы заработали за годы работы.
        </p>
        <p class="company__text">Мы в компании Бампер-ЕКБ очень дорожим качеством нашей продукции и репутацией, которую мы заработали за годы работы.
            Мы в компании Бампер-ЕКБ очень дорожим качеством нашей продукции и репутацией, которую мы заработали за годы работы.
            Мы в компании Бампер-ЕКБ очень дорожим качеством нашей продукции и репутацией, которую мы заработали за годы работы.
        </p>
        <p class="company__text">Мы в компании Бампер-ЕКБ очень дорожим качеством нашей продукции и репутацией, которую мы заработали за годы работы.
            Мы в компании Бампер-ЕКБ очень дорожим качеством нашей продукции и репутацией, которую мы заработали за годы работы.
            Мы в компании Бампер-ЕКБ очень дорожим качеством нашей продукции и репутацией, которую мы заработали за годы работы.
        </p>
        </div>
    </div>
</section>