<section class="contacts">
    <div class="container">
        <h1 class="title contacts__title">Контакты</h1>
        <div class="contacts__inner">
            <div class="contacts__inner-left">
                <div class="contacts__item-top">
                    <p class="contacts__label">Телефон:</p>
                    <a href="tel:+79059069999" class="contacts__value">+7 905 906 99 99</a>
                    <p class="contacts__label">Email:</p>
                    <a href="mailto:ekb_bamper@mail.ru" class="contacts__value">ekb_bamper@mail.ru</a>
                    <p class="contacts__label">Написать в мессенджеры:</p>
                    <div class="contacts__socials">
                        <a href="https://vk.com/bamper_ekb" target="_blank" class="btn btn--rounded-blue contacts__social">Вконтакте
                        </a>
                        <a href="https://t.me/bamper_ekb" target="_blank" class="btn btn--rounded-blue contacts__social">Telegram
                        </a>
                    </div>
                </div>
                <div class="contacts__item-bottom">
                    <p class="contacts__label">Адрес:</p>
                    <p class="contacts__value">г. Екатеринбург, Ткачей 23 офис 715</p>
                    <p class="contacts__label">Режим работы:</p>
                    <p class="contacts__value">Пн-Пт: с 9:00 до 18:00</p>
                </div>
            </div>
            <div class="contacts__inner-right">
                <div class="contacts__map" id="map"></div>
            </div>
        </div>
    </div>
</section>