<section class="cta">
    <div class="container" style="background-image: url('assets/images/webp/action.webp');">
        <div class="cta-inner" >
            <h2 class="cta__title title">Красим каждый второй бампер со скидкой 50%</h2>
            <a href="#" class="btn btn--square-white cta__btn">Узнать об акции</a>
        </div>
    </div>
</section>