<section class="faq">
    <div class="container">
        <h2 class="title faq__title">Часто задаваемые вопросы</h2>
        <ul class="faq__questions">
            <li class="faq__item" data-accordion-item="">
                <div class="faq__header no-select" data-accordion-button="">
                    <p>Как часто вы принимаете заказы?</p>
                    <img class="faq__icon" src="assets/images/svg/arrow-down.svg" alt="частый вопрос">
                </div>
                <div class="faq__content" data-accordion-content="">
                    <p>Вся продукция перед отгрузкой розничным покупателям проходит дополнительный контроль. Компания
                        Бампер-ЕКБ гарантирует получение качественного товара в минимальные сроки. Вся продукция перед
                        отгрузкой розничным покупателям проходит дополнительный контроль. Компания Бампер-ЕКБ
                        гарантирует получение качественного товара в минимальные сроки.</p>
                </div>
            </li>

            <li class="faq__item" data-accordion-item="">
                <div class="faq__header no-select" data-accordion-button="">
                    <p>Как часто вы принимаете заказы?</p>
                    <img class="faq__icon" src="assets/images/svg/arrow-down.svg" alt="частый вопрос">
                </div>
                <div class="faq__content" data-accordion-content="">
                    <p>Вся продукция перед отгрузкой розничным покупателям проходит дополнительный контроль. Компания
                        Бампер-ЕКБ гарантирует получение качественного товара в минимальные сроки. Вся продукция перед
                        отгрузкой розничным покупателям проходит дополнительный контроль. Компания Бампер-ЕКБ
                        гарантирует получение качественного товара в минимальные сроки.</p>
                </div>
            </li>

            <li class="faq__item" data-accordion-item="">
                <div class="faq__header no-select" data-accordion-button="">
                    <p>Как часто вы принимаете заказы?</p>
                    <img class="faq__icon" src="assets/images/svg/arrow-down.svg" alt="частый вопрос">
                </div>
                <div class="faq__content" data-accordion-content="">
                    <p>Вся продукция перед отгрузкой розничным покупателям проходит дополнительный контроль. Компания
                        Бампер-ЕКБ гарантирует получение качественного товара в минимальные сроки. Вся продукция перед
                        отгрузкой розничным покупателям проходит дополнительный контроль. Компания Бампер-ЕКБ
                        гарантирует получение качественного товара в минимальные сроки.</p>
                </div>
            </li>

            <li class="faq__item" data-accordion-item="">
                <div class="faq__header no-select" data-accordion-button="">
                    <p>Как часто вы принимаете заказы?</p>
                    <img class="faq__icon" src="assets/images/svg/arrow-down.svg" alt="частый вопрос">
                </div>
                <div class="faq__content" data-accordion-content="">
                    <p>Вся продукция перед отгрузкой розничным покупателям проходит дополнительный контроль. Компания
                        Бампер-ЕКБ гарантирует получение качественного товара в минимальные сроки. Вся продукция перед
                        отгрузкой розничным покупателям проходит дополнительный контроль. Компания Бампер-ЕКБ
                        гарантирует получение качественного товара в минимальные сроки.</p>
                </div>
            </li>
        </ul>
    </div>
</section>