<footer class="footer">
    <div class="container footer__inner">
        <div class="footer__inner-left">
            <div class="footer__logo">
                <a href="index.html">
                    <img src="assets/images/logo.svg" alt="logo">
                </a>
            </div>
            <ul class="footer__socials">
                <li class="footer__socials-item">
                    <a href="https://vk.com/bamper_ekb" target="_blank" class=" contacts__social contacts__wa"><svg width="132" height="32" viewBox="0 0 132 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M127 0H31V32H127C129.761 32 132 29.7614 132 27V5C132 2.23858 129.761 0 127 0Z" fill="#0F1418"/>
                        <path d="M31 0H5C2.23858 0 0 2.23858 0 5V27C0 29.7614 2.23858 32 5 32H31V0Z" fill="#3CC04E"/>
                        <path d="M22.8547 8.55156C20.8906 6.58281 18.275 5.5 15.4953 5.5C9.75781 5.5 5.08906 10.1687 5.08906 15.9062C5.08906 17.7391 5.56719 19.5297 6.47656 21.1094L5 26.5L10.5172 25.0516C12.0359 25.8813 13.7469 26.3172 15.4906 26.3172H15.4953C21.2281 26.3172 26 21.6484 26 15.9109C26 13.1313 24.8188 10.5203 22.8547 8.55156ZM15.4953 24.5641C13.9391 24.5641 12.4156 24.1469 11.0891 23.3594L10.775 23.1719L7.50313 24.0297L8.375 20.8375L8.16875 20.5094C7.30156 19.1313 6.84688 17.5422 6.84688 15.9062C6.84688 11.1391 10.7281 7.25781 15.5 7.25781C17.8109 7.25781 19.9812 8.15781 21.6125 9.79375C23.2437 11.4297 24.2469 13.6 24.2422 15.9109C24.2422 20.6828 20.2625 24.5641 15.4953 24.5641ZM20.2391 18.0859C19.9813 17.9547 18.7016 17.3266 18.4625 17.2422C18.2234 17.1531 18.05 17.1109 17.8766 17.3734C17.7031 17.6359 17.2063 18.2172 17.0516 18.3953C16.9016 18.5688 16.7469 18.5922 16.4891 18.4609C14.9609 17.6969 13.9578 17.0969 12.95 15.3672C12.6828 14.9078 13.2172 14.9406 13.7141 13.9469C13.7984 13.7734 13.7562 13.6234 13.6906 13.4922C13.625 13.3609 13.1047 12.0813 12.8891 11.5609C12.6781 11.0547 12.4625 11.125 12.3031 11.1156C12.1531 11.1063 11.9797 11.1063 11.8062 11.1063C11.6328 11.1063 11.3516 11.1719 11.1125 11.4297C10.8734 11.6922 10.2031 12.3203 10.2031 13.6C10.2031 14.8797 11.1359 16.1172 11.2625 16.2906C11.3938 16.4641 13.0953 19.0891 15.7062 20.2188C17.3562 20.9312 18.0031 20.9922 18.8281 20.8703C19.3297 20.7953 20.3656 20.2422 20.5812 19.6328C20.7969 19.0234 20.7969 18.5031 20.7313 18.3953C20.6703 18.2781 20.4969 18.2125 20.2391 18.0859Z" fill="white"/>
                        <path d="M58.6556 11.4971L55.8798 22H53.2577L51.5145 15.2617C51.4218 14.9102 51.3656 14.5171 51.3461 14.0825H51.3168C51.2728 14.561 51.2094 14.9541 51.1263 15.2617L49.3392 22H46.6073L43.8461 11.4971H46.4315L47.911 18.4917C47.9745 18.7896 48.0209 19.1899 48.0502 19.6929H48.0941C48.1137 19.3169 48.1845 18.9067 48.3065 18.4624L50.2108 11.4971H52.745L54.4662 18.5503C54.5297 18.8091 54.5858 19.1851 54.6346 19.6782H54.6639C54.6835 19.2925 54.7347 18.9019 54.8178 18.5063L56.2679 11.4971H58.6556ZM67.405 22H65.0979V17.7373C65.0979 16.6387 64.6975 16.0894 63.8967 16.0894C63.4865 16.0894 63.1545 16.2432 62.9006 16.5508C62.6467 16.8584 62.5197 17.249 62.5197 17.7227V22H60.2053V10.8965H62.5197V15.6133H62.549C63.1154 14.749 63.8845 14.3169 64.8562 14.3169C66.5554 14.3169 67.405 15.3423 67.405 17.3931V22ZM75.6636 22H73.4737V20.9233H73.4444C72.9414 21.7632 72.1968 22.1831 71.2105 22.1831C70.4829 22.1831 69.9092 21.978 69.4893 21.5679C69.0742 21.1528 68.8667 20.6011 68.8667 19.9126C68.8667 18.4575 69.7285 17.6177 71.4522 17.3931L73.4883 17.1221C73.4883 16.3018 73.044 15.8916 72.1553 15.8916C71.2617 15.8916 70.4121 16.1577 69.6065 16.6899V14.9468C69.9287 14.7808 70.3682 14.6343 70.9248 14.5073C71.4863 14.3804 71.9966 14.3169 72.4556 14.3169C74.5943 14.3169 75.6636 15.3838 75.6636 17.5176V22ZM73.4883 18.9531V18.4478L72.126 18.6235C71.374 18.7212 70.9981 19.0605 70.9981 19.6416C70.9981 19.9053 71.0884 20.1226 71.2691 20.2935C71.4546 20.4595 71.7036 20.5425 72.0161 20.5425C72.4507 20.5425 72.8047 20.3936 73.0781 20.0957C73.3516 19.793 73.4883 19.4121 73.4883 18.9531ZM82.2083 21.9121C81.8665 22.0928 81.3514 22.1831 80.6629 22.1831C79.0321 22.1831 78.2166 21.3359 78.2166 19.6416V16.2065H77.0008V14.5H78.2166V12.8813L80.5238 12.2222V14.5H82.2083V16.2065H80.5238V19.2388C80.5238 20.02 80.8338 20.4106 81.4539 20.4106C81.6981 20.4106 81.9496 20.3398 82.2083 20.1982V21.9121ZM83.2087 21.8022V19.9272C83.5895 20.1567 83.9679 20.3276 84.3439 20.4399C84.7248 20.5522 85.0837 20.6084 85.4206 20.6084C85.8307 20.6084 86.153 20.5522 86.3874 20.4399C86.6266 20.3276 86.7463 20.1567 86.7463 19.9272C86.7463 19.7808 86.6925 19.6587 86.5851 19.561C86.4777 19.4634 86.3385 19.3779 86.1676 19.3047C86.0016 19.2314 85.8185 19.1655 85.6183 19.1069C85.4181 19.0483 85.2253 18.9824 85.0397 18.9092C84.7419 18.7969 84.4782 18.6772 84.2487 18.5503C84.0241 18.4185 83.8337 18.2671 83.6774 18.0962C83.526 17.9253 83.4088 17.7275 83.3258 17.5029C83.2477 17.2783 83.2087 17.0122 83.2087 16.7046C83.2087 16.2847 83.299 15.9233 83.4796 15.6206C83.6652 15.3179 83.9093 15.0713 84.2121 14.8809C84.5197 14.6855 84.8688 14.5439 85.2594 14.4561C85.6549 14.3633 86.0651 14.3169 86.4899 14.3169C86.8219 14.3169 87.1588 14.3438 87.5006 14.3975C87.8424 14.4463 88.1794 14.5195 88.5114 14.6172V16.4043C88.2184 16.2334 87.9035 16.1064 87.5666 16.0234C87.2345 15.9355 86.9074 15.8916 86.5851 15.8916C86.4338 15.8916 86.2897 15.9062 86.153 15.9355C86.0212 15.96 85.904 15.999 85.8014 16.0527C85.6989 16.1016 85.6183 16.1675 85.5597 16.2505C85.5011 16.3286 85.4718 16.4189 85.4718 16.5215C85.4718 16.6582 85.5158 16.7754 85.6037 16.873C85.6916 16.9707 85.8063 17.0562 85.9479 17.1294C86.0895 17.1978 86.2458 17.2612 86.4167 17.3198C86.5924 17.3735 86.7658 17.4297 86.9367 17.4883C87.2443 17.5957 87.5226 17.7129 87.7716 17.8398C88.0207 17.9668 88.2331 18.1157 88.4088 18.2866C88.5895 18.4575 88.7262 18.6577 88.819 18.8872C88.9167 19.1167 88.9655 19.3901 88.9655 19.7075C88.9655 20.1519 88.8678 20.5327 88.6725 20.8501C88.4821 21.1626 88.2257 21.4189 87.9035 21.6191C87.5861 21.8145 87.2174 21.9561 86.7975 22.0439C86.3825 22.1367 85.9504 22.1831 85.5011 22.1831C84.6759 22.1831 83.9118 22.0562 83.2087 21.8022ZM100.212 22H97.6343L96.8872 19.6636H93.1518L92.4121 22H89.8486L93.6719 11.4971H96.477L100.212 22ZM96.3452 17.8472L95.2173 14.3169C95.1343 14.0532 95.0757 13.7383 95.0415 13.3721H94.9829C94.9585 13.6797 94.8974 13.9849 94.7998 14.2876L93.6572 17.8472H96.3452ZM104.084 21.1284H104.054V25.4497H101.74V14.5H104.054V15.6279H104.084C104.655 14.7539 105.458 14.3169 106.493 14.3169C107.465 14.3169 108.215 14.6514 108.742 15.3203C109.274 15.9844 109.54 16.8901 109.54 18.0376C109.54 19.2876 109.23 20.291 108.61 21.0479C107.995 21.8047 107.175 22.1831 106.149 22.1831C105.246 22.1831 104.557 21.8315 104.084 21.1284ZM104.018 18.0522V18.6528C104.018 19.1704 104.155 19.5928 104.428 19.9199C104.701 20.2471 105.06 20.4106 105.505 20.4106C106.032 20.4106 106.44 20.208 106.728 19.8027C107.021 19.3926 107.167 18.814 107.167 18.0669C107.167 16.7485 106.655 16.0894 105.629 16.0894C105.156 16.0894 104.767 16.27 104.465 16.6313C104.167 16.9878 104.018 17.4614 104.018 18.0522ZM113.566 21.1284H113.536V25.4497H111.222V14.5H113.536V15.6279H113.566C114.137 14.7539 114.94 14.3169 115.975 14.3169C116.947 14.3169 117.696 14.6514 118.224 15.3203C118.756 15.9844 119.022 16.8901 119.022 18.0376C119.022 19.2876 118.712 20.291 118.092 21.0479C117.477 21.8047 116.656 22.1831 115.631 22.1831C114.728 22.1831 114.039 21.8315 113.566 21.1284ZM113.5 18.0522V18.6528C113.5 19.1704 113.636 19.5928 113.91 19.9199C114.183 20.2471 114.542 20.4106 114.986 20.4106C115.514 20.4106 115.922 20.208 116.21 19.8027C116.503 19.3926 116.649 18.814 116.649 18.0669C116.649 16.7485 116.136 16.0894 115.111 16.0894C114.637 16.0894 114.249 16.27 113.946 16.6313C113.649 16.9878 113.5 17.4614 113.5 18.0522Z" fill="white"/>
                        <path d="M127 0H5C2.23858 0 0 2.23858 0 5V27C0 29.7614 2.23858 32 5 32H127C129.761 32 132 29.7614 132 27V5C132 2.23858 129.761 0 127 0Z" fill="url(#paint0_linear)"/>
                        <defs>
                            <linearGradient id="paint0_linear" x1="0" y1="0" x2="0" y2="32" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#BBBBBB" stop-opacity="0.1"/>
                                <stop offset="1" stop-opacity="0.1"/>
                            </linearGradient>
                        </defs>
                    </svg>
                    </a>
                </li>
                <li class="footer__socials-item">
                    <a href="https://t.me/bamper_ekb" target="_blank" class="contacts__social contacts__tg"><svg width="122" height="32" viewBox="0 0 122 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M117 0H31V32H117C119.761 32 122 29.7614 122 27V5C122 2.23858 119.761 0 117 0Z" fill="#0F1418"/>
                        <path d="M31 0H5C2.23858 0 0 2.23858 0 5V27C0 29.7614 2.23858 32 5 32H31V0Z" fill="#2BA7DD"/>
                        <path d="M26.9477 8.23175L23.326 25.3118C23.0527 26.5173 22.3402 26.8173 21.3276 26.2494L15.8092 22.183L13.1465 24.7439C12.8518 25.0386 12.6054 25.2851 12.0375 25.2851L12.4339 19.6649L22.6616 10.423C23.1063 10.0266 22.5652 9.80689 21.9705 10.2034L9.32652 18.1648L3.88317 16.4611C2.69914 16.0914 2.67771 15.277 4.12962 14.7091L25.4208 6.5066C26.4066 6.13692 27.2692 6.72626 26.9477 8.23175Z" fill="white"/>
                        <path d="M51.9418 13.4233H48.9462V22H46.5731V13.4233H43.5922V11.4971H51.9418V13.4233ZM58.9626 18.9092H54.07C54.1481 19.998 54.8342 20.5425 56.1281 20.5425C56.9533 20.5425 57.6784 20.3472 58.3034 19.9565V21.6265C57.6101 21.9976 56.7092 22.1831 55.6008 22.1831C54.3898 22.1831 53.4499 21.8486 52.781 21.1797C52.112 20.5059 51.7775 19.5684 51.7775 18.3672C51.7775 17.1221 52.1389 16.1357 52.8615 15.4082C53.5842 14.6807 54.4729 14.3169 55.5275 14.3169C56.6213 14.3169 57.466 14.6416 58.0617 15.291C58.6623 15.9404 58.9626 16.8218 58.9626 17.9351V18.9092ZM56.8166 17.4883C56.8166 16.4141 56.382 15.877 55.5129 15.877C55.1418 15.877 54.8195 16.0308 54.5461 16.3384C54.2775 16.646 54.114 17.0293 54.0554 17.4883H56.8166ZM62.834 22H60.5196V10.8965H62.834V22ZM71.7005 18.9092H66.8079C66.8861 19.998 67.5721 20.5425 68.8661 20.5425C69.6912 20.5425 70.4163 20.3472 71.0413 19.9565V21.6265C70.348 21.9976 69.4471 22.1831 68.3387 22.1831C67.1278 22.1831 66.1878 21.8486 65.5189 21.1797C64.8499 20.5059 64.5155 19.5684 64.5155 18.3672C64.5155 17.1221 64.8768 16.1357 65.5995 15.4082C66.3221 14.6807 67.2108 14.3169 68.2655 14.3169C69.3592 14.3169 70.2039 14.6416 70.7996 15.291C71.4002 15.9404 71.7005 16.8218 71.7005 17.9351V18.9092ZM69.5545 17.4883C69.5545 16.4141 69.12 15.877 68.2508 15.877C67.8797 15.877 67.5575 16.0308 67.284 16.3384C67.0155 16.646 66.8519 17.0293 66.7933 17.4883H69.5545ZM80.611 21.1431C80.611 22.5347 80.2082 23.6113 79.4025 24.373C78.5968 25.1396 77.4298 25.5229 75.9015 25.5229C74.8908 25.5229 74.09 25.3789 73.4992 25.0908V23.1426C74.2707 23.5918 75.0495 23.8164 75.8356 23.8164C76.6169 23.8164 77.2223 23.6089 77.652 23.1938C78.0817 22.7837 78.2965 22.2246 78.2965 21.5166V20.9233H78.2672C77.7399 21.7632 76.9611 22.1831 75.9308 22.1831C74.9738 22.1831 74.2145 21.8462 73.653 21.1724C73.0915 20.4985 72.8107 19.5952 72.8107 18.4624C72.8107 17.1929 73.1232 16.1846 73.7482 15.4375C74.3732 14.6904 75.196 14.3169 76.2165 14.3169C77.1295 14.3169 77.8131 14.6685 78.2672 15.3716H78.2965V14.5H80.611V21.1431ZM78.3258 18.3965V17.8032C78.3258 17.3296 78.1842 16.9268 77.901 16.5947C77.6227 16.2578 77.2589 16.0894 76.8097 16.0894C76.297 16.0894 75.8942 16.2896 75.6012 16.6899C75.3083 17.0903 75.1618 17.6543 75.1618 18.3818C75.1618 19.0068 75.3009 19.5024 75.5793 19.8687C75.8576 20.23 76.2384 20.4106 76.7218 20.4106C77.2003 20.4106 77.5861 20.2275 77.8791 19.8613C78.1769 19.4902 78.3258 19.002 78.3258 18.3965ZM87.6172 16.5874C87.3388 16.436 87.0141 16.3604 86.643 16.3604C86.1401 16.3604 85.7471 16.5459 85.4638 16.917C85.1806 17.2832 85.039 17.7837 85.039 18.4185V22H82.7246V14.5H85.039V15.8916H85.0683C85.4346 14.876 86.0937 14.3682 87.0459 14.3682C87.29 14.3682 87.4804 14.3975 87.6172 14.4561V16.5874ZM95.1214 22H92.9314V20.9233H92.9021C92.3992 21.7632 91.6546 22.1831 90.6683 22.1831C89.9407 22.1831 89.367 21.978 88.9471 21.5679C88.532 21.1528 88.3245 20.6011 88.3245 19.9126C88.3245 18.4575 89.1863 17.6177 90.91 17.3931L92.9461 17.1221C92.9461 16.3018 92.5018 15.8916 91.6131 15.8916C90.7195 15.8916 89.8699 16.1577 89.0643 16.6899V14.9468C89.3865 14.7808 89.826 14.6343 90.3826 14.5073C90.9441 14.3804 91.4544 14.3169 91.9134 14.3169C94.0521 14.3169 95.1214 15.3838 95.1214 17.5176V22ZM92.9461 18.9531V18.4478L91.5838 18.6235C90.8318 18.7212 90.4559 19.0605 90.4559 19.6416C90.4559 19.9053 90.5462 20.1226 90.7269 20.2935C90.9124 20.4595 91.1614 20.5425 91.4739 20.5425C91.9085 20.5425 92.2625 20.3936 92.5359 20.0957C92.8094 19.793 92.9461 19.4121 92.9461 18.9531ZM109.042 22H106.734V17.7227C106.734 16.6338 106.334 16.0894 105.533 16.0894C105.152 16.0894 104.842 16.2529 104.603 16.5801C104.364 16.9072 104.244 17.3149 104.244 17.8032V22H101.93V17.6787C101.93 16.6191 101.537 16.0894 100.751 16.0894C100.355 16.0894 100.038 16.2456 99.7985 16.5581C99.5641 16.8706 99.4469 17.2954 99.4469 17.8325V22H97.1324V14.5H99.4469V15.6719H99.4762C99.7154 15.2715 100.05 14.9468 100.48 14.6978C100.914 14.4438 101.388 14.3169 101.901 14.3169C102.96 14.3169 103.685 14.7832 104.076 15.7158C104.647 14.7832 105.487 14.3169 106.595 14.3169C108.226 14.3169 109.042 15.3228 109.042 17.3345V22Z" fill="white"/>
                        <path d="M117 0H5C2.23858 0 0 2.23858 0 5V27C0 29.7614 2.23858 32 5 32H117C119.761 32 122 29.7614 122 27V5C122 2.23858 119.761 0 117 0Z" fill="url(#paint0_linear)"/>
                        <defs>
                            <linearGradient id="paint0_linear" x1="0" y1="0" x2="0" y2="32" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#BBBBBB" stop-opacity="0.1"/>
                                <stop offset="1" stop-opacity="0.1"/>
                            </linearGradient>
                        </defs>
                    </svg>
                    </a>
                </li>
            </ul>
            <div><a href="tel:+79014544246" class="footer__phone">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" x="0" y="0" viewBox="0 0 241.73 241.73">
                    <g>
                        <path d="m234.771 181.213-34.938-34.953c-4.692-4.668-10.975-7.24-17.689-7.24-6.987 0-13.584 2.751-18.572 7.742l-13.6 13.597c-10.568-5.874-24.614-13.953-39.197-28.536-14.566-14.571-22.646-28.576-28.55-39.201l13.613-13.603c10.121-10.142 10.328-26.413.463-36.269L61.37 7.818C56.691 3.126 50.408.542 43.677.542c-6.831 0-13.293 2.63-18.252 7.417-3 2.416-18.055 15.706-23.666 43.114-7.856 38.363 10.194 75.274 62.302 127.403 58.209 58.191 107.902 62.714 121.746 62.714 2.882 0 4.621-.178 5.085-.232 27.147-3.182 36.867-15.238 43.964-24.041 9.196-11.409 9.164-26.421-.085-35.704zm-11.593 26.289c-6.671 8.274-12.971 16.088-34.031 18.557-.011.001-1.163.13-3.34.13-12.386 0-57.008-4.206-111.139-58.32-48.053-48.073-64.919-81.04-58.214-113.788 4.894-23.906 17.887-34.067 18.392-34.453l.448-.331.393-.394c2.169-2.167 5.006-3.361 7.989-3.361 2.716 0 5.228 1.018 7.08 2.876l34.939 34.94c4.02 4.016 3.806 10.774-.471 15.06L69.829 83.8l-.253.265c-4.012 4.419-3.54 10.391-1.33 14.28 6.377 11.508 15.112 27.269 31.92 44.082 16.752 16.752 32.49 25.48 43.966 31.845 1.149.645 3.521 1.727 6.49 1.727 3.506 0 6.725-1.484 9.108-4.189l14.448-14.444c2.157-2.158 4.985-3.347 7.964-3.347 2.722 0 5.247 1.021 7.095 2.859l34.915 34.93c4.435 4.451 2.604 11.256-.974 15.694zM146.447 37.293c12.887 1.483 28.061 9.289 38.657 19.886 10.695 10.695 18.52 26.023 19.933 39.05a7.5 7.5 0 0 0 14.912-1.618c-1.787-16.467-11.075-34.874-24.238-48.038-13.04-13.041-31.259-22.306-47.549-24.181-4.113-.477-7.834 2.479-8.308 6.593a7.5 7.5 0 0 0 6.593 8.308zM139.44 68.711c6.97.803 16.616 5.973 22.935 12.292 6.373 6.374 11.553 16.112 12.316 23.157a7.5 7.5 0 1 0 14.912-1.617c-1.304-12.028-9.289-24.813-16.623-32.147-7.268-7.269-19.928-15.216-31.825-16.587-4.119-.479-7.835 2.478-8.309 6.592a7.503 7.503 0 0 0 6.594 8.31z" fill="#1c1c1c"></path>
                    </g>
                </svg>
                +7 901 454 42-46</a></div>
            <div><a href="mailto:ekb_bamper@mail.ru" class="footer__email">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" x="0" y="0" viewBox="0 0 50 50"><g><path fill="#000000" d="M39.583 8.333H10.417a6.25 6.25 0 0 0-6.25 6.25v20.834a6.25 6.25 0 0 0 6.25 6.25h29.166a6.25 6.25 0 0 0 6.25-6.25V14.583a6.25 6.25 0 0 0-6.25-6.25zM10.417 12.5h29.166a2.083 2.083 0 0 1 2.084 2.083L25 24.75 8.333 14.583a2.083 2.083 0 0 1 2.084-2.083zm31.25 22.917a2.083 2.083 0 0 1-2.084 2.083H10.417a2.083 2.083 0 0 1-2.084-2.083V19.333l15.584 9.521a2.083 2.083 0 0 0 2.083 0l15.667-9.52z" opacity="1" data-original="#000000" class=""></path></g></svg>
                ekb_bamper@mail.ru
            </a></div>
            <span class="footer__address">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 24px;">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9998 5.10004C10.6358 5.10004 9.32773 5.65317 8.36326 6.63776C7.39878 7.62234 6.85695 8.95773 6.85695 10.3501C6.85695 12.156 8.13198 14.9676 9.64991 16.5541C10.3815 17.3187 11.1169 17.9537 11.671 18.3981C11.79 18.4935 11.9002 18.5799 11.9998 18.6565C12.0994 18.5799 12.2096 18.4935 12.3286 18.3981C12.8827 17.9537 13.6181 17.3187 14.3497 16.5541C15.8676 14.9676 17.1427 12.156 17.1427 10.3501C17.1427 8.95773 16.6008 7.62234 15.6364 6.63776C14.6719 5.65317 13.3638 5.10004 11.9998 5.10004ZM11.4288 20.8236L11.4265 20.8221C11.3996 20.8036 11.3728 20.7849 11.3461 20.7661C11.296 20.7308 11.2246 20.6798 11.1349 20.6141C10.9556 20.4827 10.7024 20.2919 10.4 20.0494C9.79695 19.5656 8.9895 18.8693 8.17828 18.0214C6.61049 16.3829 4.7998 13.0444 4.7998 10.3501C4.7998 8.40076 5.55837 6.53123 6.90864 5.15281C8.2589 3.77439 10.0902 3 11.9998 3C13.9094 3 15.7407 3.77439 17.091 5.15281C18.4412 6.53123 19.1998 8.40076 19.1998 10.3501C19.1998 13.0444 17.3891 16.3829 15.8213 18.0214C15.0101 18.8693 14.2027 19.5656 13.5996 20.0494C13.2972 20.2919 13.0441 20.4827 12.8647 20.6141C12.775 20.6798 12.7036 20.7308 12.6535 20.7661C12.6261 20.7855 12.5985 20.8046 12.5708 20.8236H11.4288ZM11.4288 20.8236C11.7743 21.0588 12.2253 21.0588 12.5708 20.8236H11.4288ZM9.5998 10.4501C9.5998 9.04179 10.7182 7.90009 12.0978 7.90009C13.4773 7.90009 14.5957 9.04179 14.5957 10.4501C14.5957 11.8585 13.4773 13.0002 12.0978 13.0002C10.7182 13.0002 9.5998 11.8585 9.5998 10.4501Z" fill="#1c1c1c"></path>
                </svg>
                г. Берёзовский, Победы 15
            </span>
        </div>
        <div class="footer__inner-right">
            <div class="footer__item-block footer__item-catalog">
                <h3 class="footer__item-title">Наша продукция</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="blog.html" class="footer__list-link">Бамперы</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="contacts.html" class="footer__list-link">Оптика</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="company.html" class="footer__list-link">Радиаторы и охлаждение</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="systempage.html" class="footer__list-link">Подвески</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="blog.html" class="footer__list-link">Тормозная система</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="contacts.html" class="footer__list-link">Кузовные детали</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="company.html" class="footer__list-link">Автозапчасти для двигателя</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="systempage.html" class="footer__list-link">Аксессуары в салон</a>
                    </li>

                </ul>
            </div>
            <div class="footer__item-block">
                <h3 class="footer__item-title">Информация</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="blog.html" class="footer__list-link">Блог</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="contacts.html" class="footer__list-link">Контакты</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="company.html" class="footer__list-link">О компании</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="systempage.html" class="footer__list-link">Карта сайта</a>
                    </li>
                </ul>
            </div>

            <div class="footer__item-block">
                <h3 class="footer__item-title">Навигация</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="#" class="footer__list-link">Производство</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__list-link">Автозапчасти</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="catalog.html" class="footer__list-link">Каталог</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__list-link">Модели</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__inner-bottom">
            <p class="footer__copyright">© 2019-2025 ООО "БАМПЕР ЕКБ"</p>
            <p class="footer__info-company">ИНН 555555555</p>
            <a href="privacy.html" class="footer__privacy-policy">Политика конфиденциальности</a>
            <p class="footer__info-company">Разработка сайтов <a class="footer__privacy-policy" href="http://mera-folio.na4u.ru/">Жолудев Владислав</a></p>
        </div>
    </div>
</footer>
