<section class="gallery">
    <div class="container">
        <div class="gallery__inner">
            <div class="gallery__inner-top">
                <h2 class="title gallery__title">Наши работы</h2>
                <div class="gallery__btn btn btn--rounded-blue">Смотреть все</div>
            </div>
            <div class="gallery__inner-bottom company__gallery">
                <div class="parent">
                    <div class="div1"><img src="assets/images/webp/example-1.webp" alt="пример работы"> </div>
                    <div class="div2"><img src="assets/images/webp/example-2.webp" alt="пример работы"> </div>
                    <div class="div3"><img src="assets/images/webp/example-3.webp" alt="пример работы"> </div>
                    <div class="div4"><img src="assets/images/webp/example-4.webp" alt="пример работы"> </div>
                </div>
            </div>
        </div>
    </div>
</section>