<section class="goods">
    <div class="container">
        <div class="goods-inner">
            <h2 class="goods__title title">Кузовное направление</h2>
            <div class="goods__btn btn btn--rounded-blue">Смотреть все</div>
        </div>
        <div class="swiper-container">
            <ul class="swiper-wrapper goods__list">
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <button class="btn btn--rounded-white">
                            <span class="button-symbol">₽</span>
                            <span class="button-price">12 000</span>
                        </button>
                        <button class="btn btn--rounded-blue" data-modal>
                            Заказать
                        </button>
                    </div>
                </li>
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <button class="btn btn--rounded-white">
                            <span class="button-symbol">₽</span>
                            <span class="button-price">12 000</span>
                        </button>
                        <button class="btn btn--rounded-blue" data-modal>
                            Заказать
                        </button>
                    </div>
                </li>
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <button class="btn btn--rounded-white">
                            <span class="button-symbol">₽</span>
                            <span class="button-price">12 000</span>
                        </button>
                        <button class="btn btn--rounded-blue" data-modal>
                            Заказать
                        </button>
                    </div>
                </li>
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <button class="btn btn--rounded-white">
                            <span class="button-symbol">₽</span>
                            <span class="button-price">12 000</span>
                        </button>
                        <button class="btn btn--rounded-blue" data-modal>
                            Заказать
                        </button>
                    </div>
                </li>
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <button class="btn btn--rounded-white">
                            <span class="button-symbol">₽</span>
                            <span class="button-price">12 000</span>
                        </button>
                        <button class="btn btn--rounded-blue" data-modal>
                            Заказать
                        </button>
                    </div>
                </li>
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <button class="btn btn--rounded-white">
                            <span class="button-symbol">₽</span>
                            <span class="button-price">12 000</span>
                        </button>
                        <button class="btn btn--rounded-blue" data-modal>
                            Заказать
                        </button>
                    </div>
                </li>
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <button class="btn btn--rounded-white">
                            <span class="button-symbol">₽</span>
                            <span class="button-price">12 000</span>
                        </button>
                        <button class="btn btn--rounded-blue" data-modal>
                            Заказать
                        </button>
                    </div>
                </li>
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <button class="btn btn--rounded-white">
                            <span class="button-symbol">₽</span>
                            <span class="button-price">12 000</span>
                        </button>
                        <button class="btn btn--rounded-blue" data-modal>
                            Заказать
                        </button>
                    </div>
                </li>


            </ul>
        </div>
    </div>
</section>