<div class="goods">
    <ul class="goods__list">
        <li class="goods__item">
            <a href="product.html" class="goods__item-img">
                <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
            </a>
            <h3 class="goods__item-title"><a href="product.html">Бампер синий крашенный</a></h3>
            <ul class="goods__item-stats">
                <li class="goods__item-state">
                    <span>Цвет</span>
                    <span class="dashed"></span>
                    <span>Синий</span>
                </li>
                <li class="goods__item-state">
                    <span>Модель</span>
                    <span class="dashed"></span>
                    <span>Mazda</span>
                </li>
            </ul>
            <div class="goods__item-buttons">
                <div class="product-price">
                    <small>2720 ₽</small>
                    2400 ₽
                </div>
                <div class="product-links">
                    <a href="#" class="btn btn-outline-danger add-to-liked">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a href="#" class="btn btn-outline-secondary add-to-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </li>
        <li class="goods__item">
            <a href="product.html" class="goods__item-img">
                <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
            </a>
            <h3 class="goods__item-title"><a href="product.html">Бампер синий крашенный</a></h3>
            <ul class="goods__item-stats">
                <li class="goods__item-state">
                    <span>Цвет</span>
                    <span class="dashed"></span>
                    <span>Синий</span>
                </li>
                <li class="goods__item-state">
                    <span>Модель</span>
                    <span class="dashed"></span>
                    <span>Mazda</span>
                </li>
            </ul>
            <div class="goods__item-buttons">
                <div class="product-price">
                    <small>2720 ₽</small>
                    2400 ₽
                </div>
                <div class="product-links">
                    <a href="#" class="btn btn-outline-danger add-to-liked">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a href="#" class="btn btn-outline-secondary add-to-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </li>
        <li class="goods__item">
            <a href="product.html" class="goods__item-img">
                <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
            </a>
            <h3 class="goods__item-title"><a href="product.html">Бампер синий крашенный</a></h3>
            <ul class="goods__item-stats">
                <li class="goods__item-state">
                    <span>Цвет</span>
                    <span class="dashed"></span>
                    <span>Синий</span>
                </li>
                <li class="goods__item-state">
                    <span>Модель</span>
                    <span class="dashed"></span>
                    <span>Mazda</span>
                </li>
            </ul>
            <div class="goods__item-buttons">
                <div class="product-price">
                    <small>2720 ₽</small>
                    2400 ₽
                </div>
                <div class="product-links">
                    <a href="#" class="btn btn-outline-danger add-to-liked">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a href="#" class="btn btn-outline-secondary add-to-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </li>
        <li class="goods__item">
            <a href="product.html" class="goods__item-img">
                <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
            </a>
            <h3 class="goods__item-title"><a href="product.html">Бампер синий крашенный</a></h3>
            <ul class="goods__item-stats">
                <li class="goods__item-state">
                    <span>Цвет</span>
                    <span class="dashed"></span>
                    <span>Синий</span>
                </li>
                <li class="goods__item-state">
                    <span>Модель</span>
                    <span class="dashed"></span>
                    <span>Mazda</span>
                </li>
            </ul>
            <div class="goods__item-buttons">
                <div class="product-price">
                    <small>2720 ₽</small>
                    2400 ₽
                </div>
                <div class="product-links">
                    <a href="#" class="btn btn-outline-danger add-to-liked">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a href="#" class="btn btn-outline-secondary add-to-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </li>
        <li class="goods__item">
            <a href="product.html" class="goods__item-img">
                <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
            </a>
            <h3 class="goods__item-title"><a href="product.html">Бампер синий крашенный</a></h3>
            <ul class="goods__item-stats">
                <li class="goods__item-state">
                    <span>Цвет</span>
                    <span class="dashed"></span>
                    <span>Синий</span>
                </li>
                <li class="goods__item-state">
                    <span>Модель</span>
                    <span class="dashed"></span>
                    <span>Mazda</span>
                </li>
            </ul>
            <div class="goods__item-buttons">
                <div class="product-price">
                    <small>2720 ₽</small>
                    2400 ₽
                </div>
                <div class="product-links">
                    <a href="#" class="btn btn-outline-danger add-to-liked">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a href="#" class="btn btn-outline-secondary add-to-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </li>
        <li class="goods__item">
            <a href="product.html" class="goods__item-img">
                <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
            </a>
            <h3 class="goods__item-title"><a href="product.html">Бампер синий крашенный</a></h3>
            <ul class="goods__item-stats">
                <li class="goods__item-state">
                    <span>Цвет</span>
                    <span class="dashed"></span>
                    <span>Синий</span>
                </li>
                <li class="goods__item-state">
                    <span>Модель</span>
                    <span class="dashed"></span>
                    <span>Mazda</span>
                </li>
            </ul>
            <div class="goods__item-buttons">
                <div class="product-price">
                    <small>2720 ₽</small>
                    2400 ₽
                </div>
                <div class="product-links">
                    <a href="#" class="btn btn-outline-danger add-to-liked">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a href="#" class="btn btn-outline-secondary add-to-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </li>
        <li class="goods__item">
            <a href="product.html" class="goods__item-img">
                <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
            </a>
            <h3 class="goods__item-title"><a href="product.html">Бампер синий крашенный</a></h3>
            <ul class="goods__item-stats">
                <li class="goods__item-state">
                    <span>Цвет</span>
                    <span class="dashed"></span>
                    <span>Синий</span>
                </li>
                <li class="goods__item-state">
                    <span>Модель</span>
                    <span class="dashed"></span>
                    <span>Mazda</span>
                </li>
            </ul>
            <div class="goods__item-buttons">
                <div class="product-price">
                    <small>2720 ₽</small>
                    2400 ₽
                </div>
                <div class="product-links">
                    <a href="#" class="btn btn-outline-danger add-to-liked">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a href="#" class="btn btn-outline-secondary add-to-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </li>
        <li class="goods__item">
            <a href="product.html" class="goods__item-img">
                <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
            </a>
            <h3 class="goods__item-title"><a href="product.html">Бампер синий крашенный</a></h3>
            <ul class="goods__item-stats">
                <li class="goods__item-state">
                    <span>Цвет</span>
                    <span class="dashed"></span>
                    <span>Синий</span>
                </li>
                <li class="goods__item-state">
                    <span>Модель</span>
                    <span class="dashed"></span>
                    <span>Mazda</span>
                </li>
            </ul>
            <div class="goods__item-buttons">
                <div class="product-price">
                    <small>2720 ₽</small>
                    2400 ₽
                </div>
                <div class="product-links">
                    <a href="#" class="btn btn-outline-danger add-to-liked">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a href="#" class="btn btn-outline-secondary add-to-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </li>
        <li class="goods__item">
            <a href="product.html" class="goods__item-img">
                <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
            </a>
            <h3 class="goods__item-title"><a href="product.html">Бампер синий крашенный</a></h3>
            <ul class="goods__item-stats">
                <li class="goods__item-state">
                    <span>Цвет</span>
                    <span class="dashed"></span>
                    <span>Синий</span>
                </li>
                <li class="goods__item-state">
                    <span>Модель</span>
                    <span class="dashed"></span>
                    <span>Mazda</span>
                </li>
            </ul>
            <div class="goods__item-buttons">
                <div class="product-price">
                    <small>2720 ₽</small>
                    2400 ₽
                </div>
                <div class="product-links">
                    <a href="#" class="btn btn-outline-danger add-to-liked">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a href="#" class="btn btn-outline-secondary add-to-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </li>

    </ul>
    <div class="pagination__wrapper mse2_pagination mse2_pagination">
        <div class="project_content_footerblock_footer_pages"><a href="?page=1"
                                                                 class="project_content_footerblock_footer_pages_number">
        <span class="page-link">
            <svg width="24" height="24" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Icon">
                    <path id="Icon_2" d="M20 24.146L12 16.146L20 8.146" stroke="#1C1C1C" stroke-width="2"
                          stroke-linecap="square" stroke-linejoin="round"></path>
                </g>
            </svg>
        </span>
        </a><a class="project_content_footerblock_footer_pages_number" href="catalog.html">1</a><a
                class="project_content_footerblock_footer_pages_number active" href="?page=2">2</a><a
                class="project_content_footerblock_footer_pages_number">
                    <span class="page-link">
            <svg width="24" height="24" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Icon">
                    <path id="Icon_2" d="M9 18.573L15 12.573L9 6.573" stroke="#1C1C1C" stroke-width="2"
                          stroke-linecap="square" stroke-linejoin="round"></path>
                </g>
            </svg>
        </span>
        </a></div>
    </div>
</div>