<section class="goods">
    <div class="container">
        <div class="goods-inner">
            <h2 class="goods__title title">Кузовное направление</h2>
            <div class="goods__btn btn btn-dark">Смотреть все</div>
        </div>
        <div class="swiper-container">
            <ul class="swiper-wrapper goods__list">
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <div class="product-price">
                            <small>2720 ₽</small>
                            2400 ₽
                        </div>
                        <div class="product-links">
                            <a href="#" class="btn btn-outline-danger add-to-liked">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-outline-secondary add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <div class="product-price">
                            <small>2720 ₽</small>
                            2400 ₽
                        </div>
                        <div class="product-links">
                            <a href="#" class="btn btn-outline-danger add-to-liked">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-outline-secondary add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <div class="product-price">
                            <small>2720 ₽</small>
                            2400 ₽
                        </div>
                        <div class="product-links">
                            <a href="#" class="btn btn-outline-danger add-to-liked">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-outline-secondary add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <div class="product-price">
                            <small>2720 ₽</small>
                            2400 ₽
                        </div>
                        <div class="product-links">
                            <a href="#" class="btn btn-outline-danger add-to-liked">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-outline-secondary add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <div class="product-price">
                            <small>2720 ₽</small>
                            2400 ₽
                        </div>
                        <div class="product-links">
                            <a href="#" class="btn btn-outline-danger add-to-liked">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-outline-secondary add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <div class="product-price">
                            <small>2720 ₽</small>
                            2400 ₽
                        </div>
                        <div class="product-links">
                            <a href="#" class="btn btn-outline-danger add-to-liked">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-outline-secondary add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <div class="product-price">
                            <small>2720 ₽</small>
                            2400 ₽
                        </div>
                        <div class="product-links">
                            <a href="#" class="btn btn-outline-danger add-to-liked">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-outline-secondary add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide goods__item">
                    <div class="goods__item-img">
                        <img src="assets/images/bamper.png" alt="Бампер Mitsubishi">
                    </div>
                    <h3 class="goods__item-title">Бампер синий крашенный</h3>
                    <ul class="goods__item-stats">
                        <li class="goods__item-state">
                            <span>Цвет</span>
                            <span class="dashed"></span>
                            <span>Синий</span>
                        </li>
                        <li class="goods__item-state">
                            <span>Модель</span>
                            <span class="dashed"></span>
                            <span>Mazda</span>
                        </li>
                    </ul>
                    <div class="goods__item-buttons">
                        <div class="product-price">
                            <small>2720 ₽</small>
                            2400 ₽
                        </div>
                        <div class="product-links">
                            <a href="#" class="btn btn-outline-danger add-to-liked">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-outline-secondary add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>