<head>
    <!--<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="{$_modx->config.site_url}">
    <meta charset="{$_modx->config.modx_charset}">
    <title itemprop="headline">{$_modx->getPlaceholder('sf.title')?: $_modx->resource.longtitle?:
        $_modx->resource.pagetitle} {'!get_post' | snippet} | {$_modx->config.site_name}</title>
    <link href="assets/images/favicon.ico" rel="icon">
    <meta name="description" itemprop="description"
          content="{$_modx->getPlaceholder('sf.description')?: $_modx->resource.description?: $_modx->resource.pagetitle} {'!get_post' | snippet}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title"
          content="{$_modx->getPlaceholder('sf.title')?: $_modx->resource.longtitle?: $_modx->resource.pagetitle} {'!get_post' | snippet} | {$_modx->config.site_name}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{$_modx->config.site_url}" />
    <meta property="og:image" content="{$_modx->config.site_url}assets/images/logo.svg" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">-->

    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bamper EKB</title>
</head>