<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="modal-close">Закрыть &times;</span>
        </div>
        <div class="modal-body">
            <div class="content-modal">
                <p class="modal-heading">Заказать обратный звонок</p>
                <p>Заполните, пожалуйста, поля</p>

                <div class="modal-form">
                    <form action="#!">
                        <div class="form-group">
                            <span>Ваше Имя*</span>
                            <input type="text" name="name" placeholder="Имя" required>
                        </div>
                        <div class="form-group">
                            <span>Номер телефона*</span>
                            <input type="tel" name="phone" placeholder="+7 (900) 000-00-00" required>
                        </div>
                        <div class="form-btn">
                            <button type="submit" class="f-btn" disabled>Заказать звонок</button>
                        </div>

                        <div class="form-agree">
                            <p>Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с <a
                                    href="privacy.html">Политикой конфиденциальности</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

