<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-modal="true" role="dialog"
     style="display: none;">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header modalMenu-header">
                <a class="header--logo" href="/"><img class="header--image" src="assets/images/logo.svg"
                                                      alt="логотип Бампер ЕКБ>"></a>
                <div class="col d-flex justify-content-end">
                    <button type="button" data-bs-dismiss="modal" aria-label="Close">
                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 72 72" width="24px" height="24px"><path d="M 19 15 C 17.977 15 16.951875 15.390875 16.171875 16.171875 C 14.609875 17.733875 14.609875 20.266125 16.171875 21.828125 L 30.34375 36 L 16.171875 50.171875 C 14.609875 51.733875 14.609875 54.266125 16.171875 55.828125 C 16.951875 56.608125 17.977 57 19 57 C 20.023 57 21.048125 56.609125 21.828125 55.828125 L 36 41.65625 L 50.171875 55.828125 C 51.731875 57.390125 54.267125 57.390125 55.828125 55.828125 C 57.391125 54.265125 57.391125 51.734875 55.828125 50.171875 L 41.65625 36 L 55.828125 21.828125 C 57.390125 20.266125 57.390125 17.733875 55.828125 16.171875 C 54.268125 14.610875 51.731875 14.609875 50.171875 16.171875 L 36 30.34375 L 21.828125 16.171875 C 21.048125 15.391875 20.023 15 19 15 z"/></svg>
                    </button>
                </div>
            </div>
            <div class="modal-body modalMenu-body">
                <div class="modalMenu-top">
                    <div class="modalMenu-section">
                        <a href="catalog.html" class="modalMenu-button">
                            <img src="assets/images/svg/catalog.svg" width="24" height="24" alt="Иконка каталога">
                            <span class="modalMenu-button-name">Каталог</span>
                        </a>
                        <ul class="nav-fill nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/actions">
                                    О компании</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-nowrap nav-link" href="/podbor_akkumulatora">Акции</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-nowrap nav-link" href="/service_center/ustanovka-i-obsluzivanie-akkumulatorov">
                                    Доставка
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="text-nowrap nav-link" href="/service_center">Блог</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-nowrap nav-link" href="/shops">Контакты</a>
                            </li>
                        </ul>
                        <a href="#" class="modalMenu-button">
                            <svg viewBox="0 0 24 24" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.725 3C8.7207 2.99942 9.70268 3.23418 10.588 3.68538C11.1048 3.94871 11.58 4.28141 12.0006 4.67277C13.1168 3.63481 14.6227 3 16.275 3C19.695 3 22.5 5.72564 22.5 9.12731C22.5 12.0822 20.7377 14.7715 18.7008 16.7901C16.6521 18.8203 14.1471 20.3517 12.31 20.9507C12.1086 21.0164 11.8914 21.0164 11.69 20.9507C9.85292 20.3517 7.34785 18.8203 5.29922 16.7901C3.26229 14.7715 1.5 12.0822 1.5 9.12731C1.5 5.72573 4.30508 3.00013 7.725 3ZM9.67992 5.46732C9.07719 5.16016 8.40679 4.99953 7.72569 5C5.37448 5 3.5 6.86563 3.5 9.12731C3.5 11.2997 4.82521 13.5047 6.70703 15.3695C8.45142 17.0982 10.5219 18.3814 12 18.9399C13.4781 18.3814 15.5486 17.0982 17.293 15.3695C19.1748 13.5047 20.5 11.2997 20.5 9.12731C20.5 6.86563 18.6262 5 16.275 5C14.8389 5 13.5751 5.69856 12.8126 6.76152C12.6246 7.02354 12.3218 7.17884 11.9994 7.17864C11.6769 7.17844 11.3743 7.02275 11.1867 6.76049C10.799 6.21855 10.2826 5.77445 9.67992 5.46732Z" fill="#1c1c1c"></path>
                            </svg>
                            <span class="modalMenu-button-name">Избранное</span>
                        </a>
                        <button type="button" class="btn btn-outline-light js-login-form" data-bs-toggle="modal"
                                data-bs-target="#accountLoginModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" x="0" y="0" viewBox="0 0 24 24" fill-rule="evenodd" class=""><g><path d="M12 1.25C8.826 1.25 6.25 3.826 6.25 7s2.576 5.75 5.75 5.75 5.75-2.576 5.75-5.75S15.174 1.25 12 1.25zm0 1.5c2.346 0 4.25 1.904 4.25 4.25s-1.904 4.25-4.25 4.25S7.75 9.346 7.75 7 9.654 2.75 12 2.75zM21.75 20A6.75 6.75 0 0 0 15 13.25H9A6.75 6.75 0 0 0 2.25 20c0 .729.29 1.429.805 1.945A2.755 2.755 0 0 0 5 22.75h14c.729 0 1.429-.29 1.945-.805A2.755 2.755 0 0 0 21.75 20zm-1.5 0A1.252 1.252 0 0 1 19 21.25H5A1.252 1.252 0 0 1 3.75 20 5.247 5.247 0 0 1 9 14.75h6A5.247 5.247 0 0 1 20.25 20z" fill="#000000" opacity="1" data-original="#000000" style="width: 24px; height: 24px;"></path></g></svg>
                            Личный кабинет
                        </button>
                        <p class="modalMenu-button" data-bs-target="#menuModalCities" data-bs-toggle="modal" data-bs-dismiss="modal">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 24px;">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9998 5.10004C10.6358 5.10004 9.32773 5.65317 8.36326 6.63776C7.39878 7.62234 6.85695 8.95773 6.85695 10.3501C6.85695 12.156 8.13198 14.9676 9.64991 16.5541C10.3815 17.3187 11.1169 17.9537 11.671 18.3981C11.79 18.4935 11.9002 18.5799 11.9998 18.6565C12.0994 18.5799 12.2096 18.4935 12.3286 18.3981C12.8827 17.9537 13.6181 17.3187 14.3497 16.5541C15.8676 14.9676 17.1427 12.156 17.1427 10.3501C17.1427 8.95773 16.6008 7.62234 15.6364 6.63776C14.6719 5.65317 13.3638 5.10004 11.9998 5.10004ZM11.4288 20.8236L11.4265 20.8221C11.3996 20.8036 11.3728 20.7849 11.3461 20.7661C11.296 20.7308 11.2246 20.6798 11.1349 20.6141C10.9556 20.4827 10.7024 20.2919 10.4 20.0494C9.79695 19.5656 8.9895 18.8693 8.17828 18.0214C6.61049 16.3829 4.7998 13.0444 4.7998 10.3501C4.7998 8.40076 5.55837 6.53123 6.90864 5.15281C8.2589 3.77439 10.0902 3 11.9998 3C13.9094 3 15.7407 3.77439 17.091 5.15281C18.4412 6.53123 19.1998 8.40076 19.1998 10.3501C19.1998 13.0444 17.3891 16.3829 15.8213 18.0214C15.0101 18.8693 14.2027 19.5656 13.5996 20.0494C13.2972 20.2919 13.0441 20.4827 12.8647 20.6141C12.775 20.6798 12.7036 20.7308 12.6535 20.7661C12.6261 20.7855 12.5985 20.8046 12.5708 20.8236H11.4288ZM11.4288 20.8236C11.7743 21.0588 12.2253 21.0588 12.5708 20.8236H11.4288ZM9.5998 10.4501C9.5998 9.04179 10.7182 7.90009 12.0978 7.90009C13.4773 7.90009 14.5957 9.04179 14.5957 10.4501C14.5957 11.8585 13.4773 13.0002 12.0978 13.0002C10.7182 13.0002 9.5998 11.8585 9.5998 10.4501Z" fill="#1c1c1c"></path>
                            </svg>
                            <span class="modalMenu-button-name"> г. Берёзовский, Победы 15, ангар 3</span>
                        </p>
                        <a href="tel:+73433431294" class="modalMenu-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" x="0" y="0" viewBox="0 0 241.73 241.73"><g><path d="m234.771 181.213-34.938-34.953c-4.692-4.668-10.975-7.24-17.689-7.24-6.987 0-13.584 2.751-18.572 7.742l-13.6 13.597c-10.568-5.874-24.614-13.953-39.197-28.536-14.566-14.571-22.646-28.576-28.55-39.201l13.613-13.603c10.121-10.142 10.328-26.413.463-36.269L61.37 7.818C56.691 3.126 50.408.542 43.677.542c-6.831 0-13.293 2.63-18.252 7.417-3 2.416-18.055 15.706-23.666 43.114-7.856 38.363 10.194 75.274 62.302 127.403 58.209 58.191 107.902 62.714 121.746 62.714 2.882 0 4.621-.178 5.085-.232 27.147-3.182 36.867-15.238 43.964-24.041 9.196-11.409 9.164-26.421-.085-35.704zm-11.593 26.289c-6.671 8.274-12.971 16.088-34.031 18.557-.011.001-1.163.13-3.34.13-12.386 0-57.008-4.206-111.139-58.32-48.053-48.073-64.919-81.04-58.214-113.788 4.894-23.906 17.887-34.067 18.392-34.453l.448-.331.393-.394c2.169-2.167 5.006-3.361 7.989-3.361 2.716 0 5.228 1.018 7.08 2.876l34.939 34.94c4.02 4.016 3.806 10.774-.471 15.06L69.829 83.8l-.253.265c-4.012 4.419-3.54 10.391-1.33 14.28 6.377 11.508 15.112 27.269 31.92 44.082 16.752 16.752 32.49 25.48 43.966 31.845 1.149.645 3.521 1.727 6.49 1.727 3.506 0 6.725-1.484 9.108-4.189l14.448-14.444c2.157-2.158 4.985-3.347 7.964-3.347 2.722 0 5.247 1.021 7.095 2.859l34.915 34.93c4.435 4.451 2.604 11.256-.974 15.694zM146.447 37.293c12.887 1.483 28.061 9.289 38.657 19.886 10.695 10.695 18.52 26.023 19.933 39.05a7.5 7.5 0 0 0 14.912-1.618c-1.787-16.467-11.075-34.874-24.238-48.038-13.04-13.041-31.259-22.306-47.549-24.181-4.113-.477-7.834 2.479-8.308 6.593a7.5 7.5 0 0 0 6.593 8.308zM139.44 68.711c6.97.803 16.616 5.973 22.935 12.292 6.373 6.374 11.553 16.112 12.316 23.157a7.5 7.5 0 1 0 14.912-1.617c-1.304-12.028-9.289-24.813-16.623-32.147-7.268-7.269-19.928-15.216-31.825-16.587-4.119-.479-7.835 2.478-8.309 6.592a7.503 7.503 0 0 0 6.594 8.31z" fill="#1c1c1c"></path></g></svg>
                            <span class="modalMenu-button-name">+7 343 343-12-94</span>
                        </a>
                        <p class="modalMenu-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" x="0" y="0" viewBox="0 0 256 256"><g><path d="M128 256a128 128 0 1 1 128-128 128.145 128.145 0 0 1-128 128zm0-246a118 118 0 1 0 118 118A118.134 118.134 0 0 0 128 10z" fill="#1c1c1c" opacity="1"></path><path d="M128 33.665a5 5 0 0 1-5-5V5a5 5 0 0 1 10 0v23.665a5 5 0 0 1-5 5zM28.7 133H5a5 5 0 0 1 0-10h23.7a5 5 0 1 1 0 10zM128 256a5 5 0 0 1-5-5v-23.665a5 5 0 0 1 10 0V251a5 5 0 0 1-5 5zM251 133h-23.665a5 5 0 0 1 0-10H251a5 5 0 0 1 0 10zM128 133a5 5 0 0 1-3.536-1.465L74.691 81.763a5 5 0 1 1 7.072-7.071l47.731 47.731 30.111-8.069a5 5 0 0 1 2.588 9.661l-32.9 8.815A5.021 5.021 0 0 1 128 133z" fill="#1c1c1c" opacity="1"></path></g></svg>
                            <span class="modalMenu-button-name">10:00 - 19:00 без выходных</span>
                        </p>

                    </div>
                </div>
                <div class="modalMenu-socials">
                    <p class="modalMenu-socials-title">Или пишите в мессенджеры</p>
                    <div class="modalMenu-socials-container">
                        <a href="https://wa.me/79014544246" class="modalMenu-social">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="30" height="30">
                                <path d="M18.0224 5.97171L18.0242 5.97348C19.6214 7.56268 20.5 9.67613 20.5 11.928C20.5 16.5635 16.7011 20.347 12.0362 20.347C10.6185 20.347 9.22599 19.9901 7.98703 19.3184L7.81335 19.2243L7.62223 19.2743L3.71076 20.2973L4.74859 16.506L4.80362 16.305L4.69956 16.1244C3.96492 14.8495 3.57236 13.4054 3.57236 11.919C3.57236 7.28355 7.37126 3.50005 12.0362 3.50006L12.0379 3.50005C13.1506 3.49619 14.2528 3.71282 15.2803 4.13723C16.3079 4.56164 17.24 5.18529 18.0224 5.97171ZM7.98089 18.7293L7.98088 18.7293L7.98388 18.7311C9.20891 19.4509 10.6078 19.835 12.0362 19.835C16.4145 19.835 19.9895 16.2944 19.9714 11.9279C19.975 10.8875 19.7712 9.8567 19.3717 8.89529C18.9722 7.9337 18.385 7.0607 17.6443 6.32678C16.1482 4.82904 14.1487 4.00305 12.0271 4.00305C7.64683 4.00305 4.07387 7.55453 4.07387 11.919L4.07387 11.9194C4.07497 13.408 4.4966 14.8661 5.2904 16.1273L5.29036 16.1274L5.29404 16.133L5.35297 16.2239L4.66154 18.7437L4.43238 19.5788L5.27022 19.3597L7.88952 18.6748L7.98089 18.7293ZM16.0684 14.3162C16.0747 14.3191 16.0807 14.3219 16.0864 14.3245C16.0857 14.3395 16.0847 14.3558 16.0832 14.3734C16.0711 14.5165 16.0334 14.7139 15.9533 14.934L15.9532 14.934L15.9507 14.9413C15.9176 15.0367 15.7714 15.2091 15.4934 15.3869C15.229 15.556 14.9654 15.6537 14.842 15.672C14.4878 15.7211 14.0852 15.739 13.6541 15.6009L13.6541 15.6008L13.6469 15.5986C13.3319 15.5029 12.9361 15.3744 12.4269 15.1511L12.4234 15.1496C10.4226 14.2906 9.05556 12.3121 8.83157 11.9879C8.82116 11.9729 8.81322 11.9614 8.8078 11.9537L8.80362 11.9478L8.79928 11.9421L8.79761 11.9399C8.74583 11.8712 8.54059 11.5989 8.34783 11.2214C8.14927 10.8325 7.98643 10.3748 7.98643 9.93903C7.98643 9.1226 8.36399 8.70898 8.58383 8.46816C8.60183 8.44844 8.61877 8.42988 8.63436 8.41236C8.73163 8.30889 8.82348 8.29704 8.86131 8.29704H9.28216C9.28942 8.29737 9.29647 8.29762 9.30311 8.29781C9.31312 8.31593 9.32547 8.3408 9.33955 8.37417C9.51102 8.80055 9.95113 9.87113 10.0363 10.0513C9.97808 10.1671 9.95686 10.2067 9.90259 10.2697C9.85146 10.329 9.80695 10.3827 9.76696 10.431C9.69993 10.5118 9.64559 10.5773 9.59407 10.6286C9.59158 10.6311 9.58882 10.6338 9.58581 10.6368C9.53224 10.6896 9.4014 10.8187 9.33513 11.0022C9.24869 11.2415 9.29448 11.4793 9.41151 11.6873L9.41519 11.6938L9.41906 11.7002C9.55824 11.931 10.0336 12.7161 10.7632 13.3637C11.5578 14.0702 12.2707 14.373 12.5715 14.5008C12.6145 14.519 12.6491 14.5337 12.6743 14.5455C12.8198 14.6198 13.0144 14.6933 13.2343 14.668C13.4782 14.6398 13.6494 14.5042 13.7637 14.3683C13.881 14.2345 14.2428 13.807 14.4402 13.5391C14.6221 13.6188 15.1873 13.8928 15.5749 14.0806C15.7223 14.1521 15.844 14.2111 15.9091 14.2422C15.9577 14.2654 16.0034 14.2863 16.0414 14.3038C16.0509 14.3082 16.0599 14.3123 16.0684 14.3162ZM16.1849 14.3742C16.1849 14.3742 16.1843 14.3739 16.1834 14.3731L16.1849 14.3742Z" fill="#05b769" stroke="#05b769"></path>
                            </svg>
                        </a>
                        <a href="https://t.me/+79655394863" class="modalMenu-social">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="30" height="30">
                                <path d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z" stroke="#2ea4d6" fill="#2ea4d6"></path>
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="modal-footer modalMenu-footer">
            </div>
        </div>
    </div>
</div>