<section class="product">
    <div class="container product__wrapper">
        <div class="gallery">
            <a href="assets/images/bamper.png" data-fancybox="gallery" data-caption="Бампер во всей красе" class="div1">
                <img src="assets/images/bamper.png" alt="Image 1">
            </a>
            <a href="assets/images/bamper.png" data-fancybox="gallery" data-caption="Бампер в профиль" class="div2">
                <img src="assets/images/bamper.png" alt="Image 2">
            </a>
            <a href="assets/images/bamper.png" data-fancybox="gallery" data-caption="Бампер анфас" class="div3">
                <img src="assets/images/bamper.png" alt="Image 3">
            </a>
            <a href="assets/images/bamper.png" data-fancybox="gallery" data-caption="Карабас-барабас" class="div4">
                <img src="assets/images/bamper.png" alt="Image 4">
            </a>
        </div>

        <div class="product__info">
            <header><h1 class="product__title">Бампер крашеный</h1></header>
            <ul class="product__stats">
                <li class="product__state">
                    <span>Модель</span>
                    <span class="dashed"></span>
                    <span>ВАЗ 2110 Задний</span>
                </li>
                <li class="product__state">
                    <span>Возможность установки противотуманных фар</span>
                    <span class="dashed"></span>
                    <span>Нет</span>
                </li>
                <li class="product__state">
                    <span>Тип кузова</span>
                    <span class="dashed"></span>
                    <span>Седан</span>
                </li>
                <li class="product__state">
                    <span>Цвет бампера</span>
                    <span class="dashed"></span>
                    <span>100 Триумф</span>
                </li>
            </ul>
            <p class="product__description">
                Устройство имеет 1гб оперативной памяти и 16гб мрра пра встроенной памяти. Бюджетный вариант магнитолы
                для просмотра видео и прослушивания музыкиi.
            </p>
            <div class="product__buttons">
                <button class="btn btn--square-white">Оставить заявку</button>
                <button class="btn btn--square-white">Добавить в избранное</button>
                <button class="btn btn--square-blue">Добавить в корзину</button>
            </div>
        </div>
    </div>
</section>