<section class="product">
    <div class="container product__wrapper">
        <div class="product__slider-inner">
            <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-1.jpg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-2.jpg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-3.jpg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-4.jpg"/>
                    </div>
                </div>
            </div>
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-1.jpg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-2.jpg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-3.jpg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-4.jpg"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__info">
            <header><h1 class="product__title">Бампер крашеный</h1></header>
            <ul class="product__stats">
                <li class="product__state">
                    <span>Модель</span>
                    <span class="dashed"></span>
                    <span>ВАЗ 2110 Задний</span>
                </li>
                <li class="product__state">
                    <span>Возможность установки противотуманных фар</span>
                    <span class="dashed"></span>
                    <span>Нет</span>
                </li>
                <li class="product__state">
                    <span>Тип кузова</span>
                    <span class="dashed"></span>
                    <span>Седан</span>
                </li>
                <li class="product__state">
                    <span>Цвет бампера</span>
                    <span class="dashed"></span>
                    <span>100 Триумф</span>
                </li>
            </ul>
            <p class="product__description">
                Устройство имеет 1гб оперативной памяти и 16гб мрра пра встроенной памяти. Бюджетный вариант магнитолы
                для просмотра видео и прослушивания музыкиi.
            </p>
            <div class="product__buttons">
                <button class="btn btn--square-white" id="openModalBtn">Оставить заявку</button>
                <button class="btn btn--square-white">Добавить в избранное</button>
                <button class="btn btn--square-blue">Добавить в корзину</button>
            </div>
        </div>
    </div>
</section>
<style>
    .swiper-wrapper {
        width: 100%;
        height: 200px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
