<section class="product">
    <div class="container">
        <header><h1 class="product__title">Бампер крашеный</h1></header>
    </div>
    <div class="container product__wrapper">
        <div class="product__slider-inner">
            <div thumbsSlider="" class="swiper mySwiper product__swiper-little">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/webp/bamper.webp"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/webp/wheel.webp"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/webp/bamper.webp"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/webp/wheel.webp"/>
                    </div>
                </div>
            </div>
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                 class="swiper mySwiper2 product__swiper-big">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/webp/bamper.webp"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/webp/wheel.webp"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/webp/bamper.webp"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/webp/wheel.webp"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__info">
            <h2 class="product__tech-title">О товаре:</h2>
            <ul class="product__stats">
                <li class="product__state">
                    <span>Модель</span>
                    <span class="dashed"></span>
                    <span>ВАЗ 2110 Задний</span>
                </li>
                <li class="product__state">
                    <span>Возможность установки противотуманных фар</span>
                    <span class="dashed"></span>
                    <span>Нет</span>
                </li>
                <li class="product__state">
                    <span>Тип кузова</span>
                    <span class="dashed"></span>
                    <span>Седан</span>
                </li>
                <li class="product__state">
                    <span>Цвет бампера</span>
                    <span class="dashed"></span>
                    <span>100 Триумф</span>
                </li>
                <li class="product__state">
                    <span>Материал</span>
                    <span class="dashed"></span>
                    <span>АБС-пластик с покрытием из ударопрочного полимера</span>
                </li>
                <li class="product__state">
                    <span>Вес детали:</span>
                    <span class="dashed"></span>
                    <span>2.5 кг</span>
                </li>
                <li class="product__state">
                    <span>Тип крепления</span>
                    <span class="dashed"></span>
                    <span>Болтовое, 8 точек крепления</span>
                </li>
                <li class="product__state">
                    <span>Комплектация</span>
                    <span class="dashed"></span>
                    <span>Бампер, крепежные болты, инструкция по установке</span>
                </li>
                <li class="product__state">
                    <span>Температурный диапазон эксплуатации</span>
                    <span class="dashed"></span>
                    <span>от -40°C до +50°C</span>
                </li>
                <li class="product__state">
                    <span>Сертификация</span>
                    <span class="dashed"></span>
                    <span>Соответствует стандартам ISO 9001 и ISO 14001</span>
                </li>
            </ul>
        </div>
        <div class="product__price">
            <div class="product__price-container">
                <div class="product__buttons">
                    <button class="btn "><i class="fas fa-hand-holding-heart"></i> В избранное</button>
                    <button class="btn "><i class="fas fa-dolly"></i> В корзину</button>
                </div>
                <div class="product__price-inner">
                    <div class="product__price-value">
                        <p class="product__price-num">8390 ₽</p>
                        <span class="product__price-warning">Цена в магазине может отличаться от цены на сайте</span>
                    </div>
                    <button class="btn one-click-buy btn-outline-success" id="openModalBtn">
                        <i class="fa-regular fa-share-from-square"></i> Купить в 1 клик
                    </button>
                </div>
            </div>
            <div class="product__price-delivery">
                <p><span>Самовывоз:</span> по адресу г. Березовский, Зеленая роща, 23/4</p>
                <p><span>Доставка:</span> Почтой России или СДЭК по всей РФ</p>
            </div>
        </div>

    </div>

    <div class="product-content-details">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                            data-bs-target="#description-tab-pane" type="button" role="tab"
                            aria-controls="description-tab-pane" aria-selected="true">Описание
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="reviews-tab" data-bs-toggle="tab"
                            data-bs-target="#reviews-tab-pane" type="button" role="tab"
                            aria-controls="reviews-tab-pane" aria-selected="false">Отзывы (10)
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description-tab-pane" role="tabpanel"
                     aria-labelledby="description-tab" tabindex="0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, nam placeat! Consequatur
                        dolor ducimus explicabo facilis ipsam magni minus modi natus nisi nulla, quia quo
                        repellendus repudiandae soluta velit veritatis!</p>
                    <p>Doloremque explicabo incidunt inventore officia pariatur quam reiciendis tenetur. A
                        deserunt laborum minus quidem repellat? Atque consequatur deserunt fugiat illo ipsa
                        iste modi quam qui ratione rem temporibus, veritatis vitae.</p>
                    <p>Accusamus commodi consequatur culpa cupiditate deleniti deserunt distinctio error
                        est, exercitationem facilis hic inventore itaque laudantium libero maxime molestiae,
                        necessitatibus nemo obcaecati optio praesentium rem repellat reprehenderit sed velit
                        vero.</p>
                </div>
                <div class="tab-pane fade" id="reviews-tab-pane" role="tabpanel"
                     aria-labelledby="reviews-tab"
                     tabindex="0">


                    <button type="button" class="btn btn-warning mb-3" data-bs-toggle="modal"
                            data-bs-target="#reviewModal">
                        Оставить отзыв
                    </button>


                    <div class="modal fade" id="reviewModal" tabindex="-1"
                         aria-labelledby="reviewModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <p class="modal-title fs-5" id="reviewModalLabel">Написать отзыв</p>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>

                                <form action="" method="post">
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Email
                                                address</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                                   placeholder="name@example.com">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label">Example
                                                textarea</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                                      rows="3"></textarea>
                                        </div>

                                        <div class="mb-3">
                                            <p>Оцените товар:</p>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="rate" id="rate1"
                                                       value="1" required>
                                                <label class="form-check-label" for="rate1">1</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="rate" id="rate2"
                                                       value="2" required>
                                                <label class="form-check-label" for="rate2">2</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="rate" id="rate3"
                                                       value="3" required>
                                                <label class="form-check-label" for="rate3">3</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="rate" id="rate4"
                                                       value="4" required>
                                                <label class="form-check-label" for="rate3">4</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="rate" id="rate5"
                                                       value="5" required>
                                                <label class="form-check-label" for="rate3">5</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-warning">Отправить отзыв</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="card product-review mb-3">
                        <div class="card-body">
                            <div class="product-review-header">
                                <h3 class="card-title">Алексей Муркалов</h3>
                                <span class="review-date">14.03.2023</span>
                            </div>

                            <div class="product-rating mb-3 ">
                                <i class="fa-solid fa-star active"></i>
                                <i class="fa-solid fa-star active"></i>
                                <i class="fa-solid fa-star active"></i>
                                <i class="fa-solid fa-star active"></i>
                                <i class="fa-solid fa-star active"></i>
                                <span class="count-reviews">10 отзывов</span>
                            </div>


                            <div class="card-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Accusantium amet architecto asperiores assumenda deleniti dolores
                                    earum, error et facere illum laboriosam maiores quibusdam, repellendus,
                                    repudiandae sapiente soluta totam ullam vero!
                                </p>
                                <p>
                                    Asperiores atque dicta dolorem dolorum esse excepturi fugiat in ipsa
                                    iure
                                    iusto labore, libero neque nihil, nobis officiis possimus provident quia
                                    quod reprehenderit repudiandae rerum sequi sit suscipit veritatis
                                    voluptates.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card product-review mb-3">
                        <div class="card-body">
                            <div class="product-review-header">
                                <h3 class="card-title">Иван Ивашкин</h3>
                                <span class="review-date">14.03.2023</span>
                            </div>

                            <div class="product-rating mb-3 ">
                                <i class="fa-solid fa-star active"></i>
                                <i class="fa-solid fa-star active"></i>
                                <i class="fa-solid fa-star active"></i>
                                <i class="fa-solid fa-star active"></i>
                                <i class="fa-regular fa-star "></i>
                                <span class="count-reviews">4 отзыва</span>
                            </div>


                            <div class="card-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Accusantium amet architecto asperiores assumenda deleniti dolores
                                    earum, error et facere illum laboriosam maiores quibusdam, repellendus,
                                    repudiandae sapiente soluta totam ullam vero!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card product-review mb-3">
                        <div class="card-body">
                            <div class="product-review-header">
                                <h3 class="card-title">Ирина Максимова</h3>
                                <span class="review-date">07.06.2023</span>
                            </div>

                            <div class="product-rating mb-3 ">
                                <i class="fa-solid fa-star active"></i>
                                <i class="fa-solid fa-star active"></i>
                                <i class="fa-solid fa-star active"></i>
                                <i class="fa-solid fa-star active"></i>
                                <i class="fa-solid fa-star active"></i>
                                <span class="count-reviews">77 отзывов</span>
                            </div>


                            <div class="card-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Accusantium amet architecto asperiores assumenda deleniti dolores
                                    earum, error et facere illum laboriosam maiores quibusdam, repellendus,
                                    repudiandae sapiente soluta totam ullam vero!
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
