<section class="product">
    <div class="container">
        <header><h1 class="product__title title">Бампер крашеный</h1></header>
    </div>
    <div class="container product__wrapper">
        <div class="product__wrapper-container">
            <div class="product__slider-inner">
                <div thumbsSlider="" class="swiper mySwiper product__swiper-little">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/webp/bamper.webp"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/webp/wheel.webp"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/webp/bamper.webp"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/webp/wheel.webp"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/webp/bamper.webp"/>
                        </div>
                    </div>
                </div>
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                     class="swiper mySwiper2 product__swiper-big">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/webp/bamper.webp"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/webp/wheel.webp"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/webp/bamper.webp"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/webp/wheel.webp"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/webp/bamper.webp"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product__info">
                <h2 class="product__tech-title">О товаре:</h2>
                <ul class="product__stats">
                    <li class="product__state">
                        <span>Модель</span>
                        <span class="dashed"></span>
                        <span>ВАЗ 2110 Задний</span>
                    </li>
                    <li class="product__state">
                        <span>Возможность установки противотуманных фар</span>
                        <span class="dashed"></span>
                        <span>Нет</span>
                    </li>
                    <li class="product__state">
                        <span>Тип кузова</span>
                        <span class="dashed"></span>
                        <span>Седан</span>
                    </li>
                    <li class="product__state">
                        <span>Цвет бампера</span>
                        <span class="dashed"></span>
                        <span>100 Триумф</span>
                    </li>
                    <li class="product__state">
                        <span>Материал</span>
                        <span class="dashed"></span>
                        <span>АБС-пластик с покрытием из ударопрочного полимера</span>
                    </li>
                    <li class="product__state">
                        <span>Вес детали:</span>
                        <span class="dashed"></span>
                        <span>2.5 кг</span>
                    </li>
                    <li class="product__state">
                        <span>Тип крепления</span>
                        <span class="dashed"></span>
                        <span>Болтовое, 8 точек крепления</span>
                    </li>
                    <li class="product__state">
                        <span>Комплектация</span>
                        <span class="dashed"></span>
                        <span>Бампер, крепежные болты, инструкция по установке</span>
                    </li>
                    <li class="product__state">
                        <span>Температурный диапазон эксплуатации</span>
                        <span class="dashed"></span>
                        <span>от -40°C до +50°C</span>
                    </li>
                    <li class="product__state">
                        <span>Сертификация</span>
                        <span class="dashed"></span>
                        <span>Соответствует стандартам ISO 9001 и ISO 14001</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="product__price">
            <div class="product__price-container">
                <div class="product__buttons">
                    <button class="btn "><i class="fas fa-hand-holding-heart"></i> В избранное</button>
                    <button class="btn "><i class="fas fa-dolly"></i> В корзину</button>
                </div>
                <div class="product__price-inner">
                    <div class="product__price-value">
                        <p class="product__price-num">8390 ₽</p>
                        <span class="product__price-warning">Цена в магазине может отличаться от цены на сайте</span>
                    </div>
                    <button class="btn one-click-buy btn-outline-success" id="openModalBtn">
                        <i class="fa-regular fa-share-from-square"></i> Купить в 1 клик
                    </button>
                </div>
            </div>
            <div class="product__price-delivery">
                <p><span>Самовывоз:</span> по адресу г. Березовский, Зеленая роща, 23/4</p>
                <p><span>Доставка:</span> Почтой России или СДЭК по всей РФ</p>
            </div>
        </div>
    </div>

    <div class="product-content-details">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-punkt" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                            data-bs-target="#description-tab-pane" type="button" role="tab"
                            aria-controls="description-tab-pane" aria-selected="true">Описание
                    </button>
                </li>
                <li class="nav-punkt" role="presentation">
                    <button class="nav-link" id="reviews-tab" data-bs-toggle="tab"
                            data-bs-target="#reviews-tab-pane" type="button" role="tab"
                            aria-controls="reviews-tab-pane" aria-selected="false">Сертификаты
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description-tab-pane" role="tabpanel"
                     aria-labelledby="description-tab" tabindex="0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, nam placeat! Consequatur
                        dolor ducimus explicabo facilis ipsam magni minus modi natus nisi nulla, quia quo
                        repellendus repudiandae soluta velit veritatis!</p>
                    <p>Doloremque explicabo incidunt inventore officia pariatur quam reiciendis tenetur. A
                        deserunt laborum minus quidem repellat? Atque consequatur deserunt fugiat illo ipsa
                        iste modi quam qui ratione rem temporibus, veritatis vitae.</p>
                    <p>Accusamus commodi consequatur culpa cupiditate deleniti deserunt distinctio error
                        est, exercitationem facilis hic inventore itaque laudantium libero maxime molestiae,
                        necessitatibus nemo obcaecati optio praesentium rem repellat reprehenderit sed velit
                        vero.</p>
                </div>
                <div class="tab-pane fade" id="reviews-tab-pane" role="tabpanel"
                     aria-labelledby="reviews-tab"
                     tabindex="0">



                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="productUtp">
            <div href="#" class="utpCard">
                <div class="utpCard_image">
                    <img src="assets/images/tools.png" alt="">
                </div>
                <span class="utpCard_title">Обслуживание</span>
                <span class="utpCard_description">Обновим ваш кузов так, что все соседи обзавидуются</span>
            </div>
            <div href="/warranty-obligations" class="utpCard">
                <div class="utpCard_image">
                    <img src="assets/images/shield.png" alt="">
                </div>
                <span class="utpCard_title">Гарантия</span>
                <span class="utpCard_description">Сроки гарантии - от 2 недель до месяца (включительно)</span>
            </div>
            <div href="/delivery" class="utpCard">
                <div class="utpCard_image">
                    <img src="assets/images/delivery.png" alt="">
                </div>
                <span class="utpCard_title">Доставка</span>
                <span class="utpCard_description">Бесплатно при заказе от 7000 руб. Действует доставка по России</span>
            </div>
        </div>
    </div>
</section>
