<div class="promo-block" style="background-image: url('assets/images/webp/main-bg.webp');">
  <div class="container">
    <h1 class="content-promo-head">Поставляем оригинальные запчасти для всех моделей авто более 10 лет</h1>
  </div>
</div>