<div class="promo-block">
  <div class="banner">
    <h1 class="content-promo-head">The #1 solution for business</h1>
  </div>
    <p> tests tetstst</p>
    <p class="btn btn--square-blue">Это кнопка с одним модификатором</p>

    <p class="btn btn--square-white">Это кнопка с другим модификатором</p>

    <p class="btn btn--rounded-white">Это кнопка с третьим модификатором</p>

    <p class="btn btn--rounded-blue">Это кнопка с четвертым модификатором</p>
</div>