<section class="reviews">
    <div class="container">
        <h2 class="title reviews__title">Почитайте <span class="colored-text">отзывы</span><br> наших клиентов</h2>

        <ul class="reviews__list">
            <li class="reviews__item">
                <div class="reviews__item-top">
                    <div class="reviews__item-photo">
                        <img src="assets/images/webp/reviews-photo-1.webp" alt="Фото клиента">
                    </div>
                    <div class="reviews__item-client">
                        <p class="reviews__item-name">Евгений Ф.</p>
                        <span class="reviews__item-bought">Покупка крашенного бампера</span>
                    </div>
                </div>
                <p class="reviews__item-text">
                    Все супер, качество класс, остался довольным, обязательно еще раз обращусь в компанию. Все супер, качество класс, остался довольным, обязательно  раз обращусь в компанию!
                </p>
            </li>
            <li class="reviews__item">
                <div class="reviews__item-top">
                    <div class="reviews__item-photo">
                        <img src="assets/images/webp/reviews-photo-1.webp" alt="Фото клиента">
                    </div>
                    <div class="reviews__item-client">
                        <p class="reviews__item-name">Евгений Ф.</p>
                        <span class="reviews__item-bought">Покупка крашенного бампера</span>
                    </div>
                </div>
                <p class="reviews__item-text">
                    Все супер, качество класс, остался довольным, обязательно еще раз обращусь в компанию. Все супер, качество класс, остался довольным, обязательно  раз обращусь в компанию!
                </p>
            </li>
            <li class="reviews__item">
                <div class="reviews__item-top">
                    <div class="reviews__item-photo">
                        <img src="assets/images/webp/reviews-photo-1.webp" alt="Фото клиента">
                    </div>
                    <div class="reviews__item-client">
                        <p class="reviews__item-name">Евгений Ф.</p>
                        <span class="reviews__item-bought">Покупка крашенного бампера</span>
                    </div>
                </div>
                <p class="reviews__item-text">
                    Все супер, качество класс, остался довольным, обязательно еще раз обращусь в компанию. Все супер, качество класс, остался довольным, обязательно  раз обращусь в компанию!
                </p>
            </li>

        </ul>
    </div>
</section>