<section id="seoView" class="seo-block">
    <div class="container">
        <div class="seo-row">
            <p class="seo-description">
                Вся продукция перед отгрузкой розничным покупателям проходит дополнительный контроль. Компания Бампер-ЕКБ гарантирует получение качественного товара в минимальные сроки. Вся продукция перед отгрузкой розничным покупателям проходит дополнительный контроль. Компания Бампер-ЕКБ гарантирует получение качественного товара в минимальные сроки.
            </p>
        </div>
        <button id="hideSeoBtn" class="seo-button hide">Скрыть</button>
    </div>
</section>