<div class="tabs">
    <div class="container">
        <div class="tab-buttons">
            <button class="tab-button active" data-tab="tab1">Технические характеристики</button>
            <button class="tab-button" data-tab="tab2">Способы оплаты</button>
            <button class="tab-button" data-tab="tab3">Доставка</button>
            <button class="tab-button" data-tab="tab4">Гарантии</button>
        </div>
        <div class="tab-content">
            <div id="tab1" class="tab active">
                <ul>
                    <li><strong>Материал:</strong> АБС-пластик с покрытием из ударопрочного полимера</li>
                    <li><strong>Цвет:</strong> Черный матовый</li>
                    <li><strong>Размеры (Д x Ш x В):</strong> 1500 x 300 x 200 мм</li>
                    <li><strong>Вес:</strong> 8.5 кг</li>
                    <li><strong>Тип крепления:</strong> Болтовое, 8 точек крепления</li>
                    <li><strong>Комплектация:</strong> Бампер, крепежные болты, инструкция по установке</li>
                    <li><strong>Сертификация:</strong> Соответствует стандартам ISO 9001 и ISO 14001</li>
                    <li><strong>Устойчивость к коррозии:</strong> Высокая, благодаря специальному покрытию</li>
                    <li><strong>Температурный диапазон эксплуатации:</strong> от -40°C до +50°C</li>

                </ul>
            </div>
            <div id="tab2" class="tab">
                <p>Доставка бамперов осуществляется по всей территории России.</p>
                    <p>В стоимость не включена цена за доставку.</p>
            </div>
            <div id="tab3" class="tab">
                <p>В стоимость включена доставка до транспортной компании.</p>
                    <p>При отправке ТК заказчик оплачивает:
                    Цена товара + дополнительная упаковка по требованию + тариф за доставку и хранение.
                    В случае отправки транспортной компанией заказчик оплачивает доставку и упаковку при получении товара.</p>
                <p>Примерную стоимость доставки Вы можете узнать у нашего менеджера.</p>
            </div>
            <div id="tab4" class="tab">
                <p>Все автозапчасти, представленные в нашем интернет-магазине, проходят строгий контроль качества и соответствуют международным стандартам. Мы предоставляем гарантию на все товары сроком на 12 месяцев с момента покупки.</p>

                <p>В случае обнаружения дефекта или неисправности в течение гарантийного срока, мы обязуемся бесплатно заменить товар или вернуть полную стоимость покупки. Наша цель — обеспечить вас качественными запчастями и надежным сервисом.</p>
            </div>
        </div>
    </div>
</div>