<section class="team">
    <div class="container">
        <div class="team__inner">
            <div class="team__left">
                <h2 class="team-title">Наша команда</h2>
                <p class="team__text">Много текста про марки машин Много текста про марки машин Много текста про марки
                    машинМного текста про марки машин Много текста про марки машин Много текста про марки машин Много
                    текста про марки машинМного текста про марки машин
                    Много текста про марки машин Много текста про марки машин Много текста про марки машинМного текста
                    про марки машинМного текста про марки машин Много текста про марки машин Много текста про марки
                    машинМного текста про марки машин</p>
                <p class="team__desc">30+ сотрудников</p>
            </div>
            <div class="team__right">
                <img src="assets/images/webp/bamper-team.webp" alt="Наша команда">
            </div>
        </div>
    </div>
</section>