<section class="stages">
    <div class="container">
        <div class="stages__inner">
            <ul class="stages__list">
                <li class="stages__item">
                    <div class="stages__item-top">
                        <h2 class="title stages__title">Этапы работ</h2>
                    </div>
                </li>
                <li class="stages__item">
                    <div class="stages__item-top">
                        <p class="stages__item-title">Подготовка к покраске</p>
                        <span class="stages__item-duration btn--rounded-white">1—3 дня</span>
                    </div>
                    <p class="stages__item-desc">Процесс подготовки очень сложный, но мы делаем все на высшем уровне лучше конкурентов</p>
                </li>
                <li class="stages__item">
                    <div class="stages__item-top">
                        <p class="stages__item-title">Подготовка к покраске</p>
                        <span class="stages__item-duration btn--rounded-white">1—3 дня</span>
                    </div>
                    <p class="stages__item-desc">Процесс подготовки очень сложный, но мы делаем все на высшем уровне лучше конкурентов</p>
                </li>
                <li class="stages__item">
                    <div class="stages__item-top">
                        <p class="stages__item-title">Подготовка к покраске</p>
                        <span class="stages__item-duration btn--rounded-white">1—3 дня</span>
                    </div>
                    <p class="stages__item-desc">Процесс подготовки очень сложный, но мы делаем все на высшем уровне лучше конкурентов</p>
                </li>
                <li class="stages__item">
                    <div class="stages__item-top">
                        <p class="stages__item-title">Подготовка к покраске</p>
                        <span class="stages__item-duration btn--rounded-white">1—3 дня</span>
                    </div>
                    <p class="stages__item-desc">Процесс подготовки очень сложный, но мы делаем все на высшем уровне лучше конкурентов</p>
                </li>
                <li class="stages__item">
                    <div class="stages__item-top">
                        <p class="stages__item-title">Подготовка к покраске</p>
                        <span class="stages__item-duration btn--rounded-white">1—3 дня</span>
                    </div>
                    <p class="stages__item-desc">Процесс подготовки очень сложный, но мы делаем все на высшем уровне лучше конкурентов</p>
                </li>

            </ul>
        </div>
    </div>
</section>